
<div class="container aboutus inner-page padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">are you a retailer?</h1>
            <div class="row">
                <div class="col-lg-12">
                    <p class="para">Late, lost or missed deliveries cost retailers millions of pounds every year and can affect customer satisfaction and loyalty as well as damaging a reputation. Almost half of UK shoppers say they would order more online if there were better delivery options available.</p>
                    <p class="para">Customers are also frustrated by the lack of choice when it comes to how they receive things; they have to compromise between cost, convenience and control.</p>
                    <p class="para">But what if you could offer them all of these things, by putting them in control? It’s a simple idea that would reduce the number of missed deliveries, improve customer satisfaction, drive loyalty and give you a real competitive advantage.</p>
                    <!--<p class="para">But what if you could offer them all of these things, by putting them in control? It’s a simple idea that would reduce the number of missed deliveries, improve customer satisfaction, drive loyalty and give you a real competitive advantage.</p>-->
                    <br>
                    <h2 class="page-sub-title">What is On the dot?</h2>
                    <p class="para">It’s a revolutionary service that finally provides your customers with deliveries within a 1 hour timeslot of their choice, whether that’s today, tomorrow or next week. Your customers will love this added benefit when shopping with you.</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="video-wrap retailer">
        <a href="" ng-click="playVideo()" class="btn-play"></a>                        
    </div>
</div>
<br>
<br>
<div class="container aboutus inner-page padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-sub-title">How does it work?</h2>
            <p class="para">There are three ways in which you can offer this service to your customers.</p>
            <div class="row padding-bottom-50">


                <div class="col-sm-12 col-md-4 padding-top-50">
                    <div class="buyit text-center">
                        <img class="img-responsive brand-icon-lg" src="images/intergration-our-open-api.png" alt="Integration with our open API" />
                        <h3>Integration with our open API</h3>
                        <p>We can integrate into your e-commerce and EPOS systems by using our RESTful API. The integration creates a seamless experience where customers can arrange a delivery direct from your checkout page online or in-store at the till, ensuring the customer stays within your retail environment.</p>
                        <span><a href="{{homeUrl}}/integration-with-our-open-api">More info</a></span>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 padding-top-50">
                    <div class="buyit text-center">
                        <img class="img-responsive brand-icon-lg" src="images/portal.jpg" alt="Integration with our open API" />
                        <h3>Retailer Portal – No integration</h3>
                        <p class="cust-buyit">Why not offer your customers a 1 hour delivery window without integration via our Retailer Portal? This service enables you to start offering the On the dot 1 hour deliveries to your customers as soon as your profile has been created!</p>
                        <span><a href="{{homeUrl}}/portal">More info</a></span>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 padding-top-50">
                    <div class="trackit text-center">
                        <img class="img-responsive brand-icon-lg" src="images/onthedot.png" alt="Onthedot.co.uk" />
                        <h3>onthedot.co.uk</h3>
                        <p>
                            Your customers can also arrange their deliveries independently by visiting our website, onthedot.co.uk.  
                            Shoppers buy online directly from you using your Click &amp; Collect service, or purchase in-store or over the phone. They then simply arrange for us to pick up and deliver the items on their behalf.
                        </p>
                        <span><a ng-href="{{retailerHomeUrl}}/onthedot-consumer-offering">More info</a></span>
                    </div>
                </div>

            </div>
            <h2 class="page-sub-title">Benefits</h2>
            <div class="row padding-bottom-50">
                <div class="col-sm-12 col-xs-12 col-md-6 padding-0">
                    <div class="buyit">
                        <p class="para min-margin"><strong>To you</strong></p>
                        <ul class="dash">
                            <li class="pull-left">Increases customer satisfaction and promotes brand loyalty </li>
                            <li class="pull-left">Provides a competitive edge</li>
                            <li class="pull-left">Boosts online conversions and average basket value</li>                        
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-6 padding-0">
                    <div class="trackit">
                        <p class="para min-margin"><strong>To your customers </strong></p>
                        <ul class="dash col-md-8">
                            <li class="pull-left">Offers a totally new consumer experience</li>
                            <li class="pull-left">Creates choice and convenience</li>
                            <li class="pull-left">Empowers the consumer</li>                        
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="page-sub-title">Who are we?</h2>
            <p class="para">On the dot is brought to you by CitySprint, the UK’s leading same day distribution network, and our established, reliable and flexible infrastructure.</p>             
            <p class="para">Why not find out a bit more <span><a ng-href="{{consumerHomeUrl}}/about-us">about us</a></span>?</p>

        </div>
    </div>
</div>
<!--</div>    
</div>-->

