
<div class="container aboutus padding-rl-30" otd-scroll-to-partial>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">How It Works</h1>
            <div class="row">
                <div class="col-lg-8 col-md-8 para-heading">
                    <h3>On the dot is the delivery service we’ve all been waiting for. Because we’re tired of waiting.</h3> 
                    <p class="para">No-one wants to take a half-day off work for one delivery. Or have to weigh up the risk of popping out for a minute on delivery day. Take back control with a guaranteed 1 hour delivery window that you get to choose.</p>
                    <p class="para">On the dot is simple and reliable, just how stuff should be delivered.</p>
                </div>
                <div class="col-lg-4 col-md-4 hero-content">
                    <p class="para head nomargin-top"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}/where-we-deliver">Where we deliver</a></li>
                        <li><a ng-href="{{homeUrl}}/what-it-costs">What it costs</a></li>
                        <li><a ng-href="{{homeUrl}}/are-you-a-retailer">Are you a retailer?</a></li>
                        <li><a ng-href="{{homeUrl}}/faqs">FAQs</a></li>
                        <li><a ng-href="{{homeUrl}}/get-in-touch">Get in touch</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h2 class="page-title" id="buy">Buy it</h2>
                    <p class="para">Shop in-store, over the phone or online using the Click &amp; Collect option at your favourite stores.</p>
                    <img src="images/how_it_works_mother_shopping_bags.jpg" alt="Buy it" class="img-responsive image"/>
                    <p class="para">Next, enter your delivery postcode on our homepage to check that your chosen retailer is within your 5 mile collection area. If it is not one of our partner retailers, you can add their address manually. Just make sure they are happy for us to collect your shopping. Then book your convenient 1 hour delivery window.</p>
                    <p class="para">Simply tell us where you want your stuff delivered. This can be at home, work or your mum’s house – wherever is convenient for you.</p>
                </div>
                <div class="col-lg-4 col-md-4">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h2 class="page-title" id="track">Track it</h2>
                    <p class="para">Now, sit back and let us take care of it.</p>
                    <p class="para">We will update you each step of the way so you can live track your stuff from the collection point right to your front door.</p>
                </div>
                <div class="col-lg-4 col-md-4">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h2 class="page-title" id="getit">Get it</h2>
                    <p class="para">Forget waiting in all day. Instead get your shopping in the 1 hour window you want. Now you are free to enjoy your day and do the things that matter the most.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="girl-in-a-chair">
                        <img src="images/how_it_works_girl_with_box.jpg"  alt="Get it" title="" />
                    </div>
                </div>
            </div>
        </div>
    </div>      
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
            <a ng-href="{{homeUrl}}/">  <div class="footerhowitworks">
                </div>    
            </a>
        </div>    
    </div>
</div>