<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">Integration with our open API</h1>
            <div class="row">
                <!--On the dot provides deliveries within a 1 hour timeslot of your customer’s choice. This could be the same day. Next day or a nominated day.-->
                <div class="col-lg-8">
                    <p class="para"> By integrating with our technology, you can offer your customers a 1 hour delivery window of their choice the same day, next day or a nominated day.</p>
                    <p class="para">The On the dot open API provides a simple interface, created in the most popular programming languages. It was designed using a RESTful architecture so that integration with your e-commerce website and/or your in-store EPOS systems is as easy as possible.</p>
                    <p class="para">Our API platform is designed to allow you to receive and display dynamic timeslot availability and pricing. Customers choose their preferred timeslot and can then track the delivery from store to door, with email notifications at every step of the way. To get you started, we provide you with an activation key that allows you to use our sample code to integrate On the dot directly into your chosen environment.</p>
                    <img src="images/api-flowchart.jpg" class="img-responsive image" />
                    <h2 class="page-sub-title">Developers!</h2>
                    <p class="para">
                        Interested in finding out how you can integrate our On the dot API into your app/systems? <span><a href="http://developers.onthedot.com/">Click here </a></span>to pop over to our developer page to find out more.
                    </p>
                </div>
                <div class="col-lg-4 hero-content">
                    <h2 class="page-sub-title">Don’t want to integrate?</h2>
                    <p class="para"><strong>You can register for our Retailer Portal and start offering delivery windows to your customers without integration! <a ng-href="{{homeUrl}}/portal" class="">Find out more</a></strong></p>
                    <p class="para head"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}/faqs">FAQs</a></li>
                        <li><a ng-href="{{homeUrl}}/get-in-touch">Get in touch</a></li>
                        <li><a ng-href="{{consumerHomeUrl}}/onthedot-consumer-offering">onthedot.co.uk</a></li>
                        <li><a ng-href="{{homeUrl}}/">Retailer homepage</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>