<div class="container inner-page min-height" >

    <div class="global-msg" ng-if="errFlag && errStatusCode !== 404 " scroll-to-global-error>
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            Oops! It appears something went wrong. Status code: {{errStatusCode}}
            <span ng-if="errStatusMsg.length > 0">{{errStatusMsg}}</span>
        </div>
    </div>


    <div class="row" >
        <div class="col-md-12">
            <h1 class="page-main-title">My payment history</h1>
        </div>
    </div>

    <div class="row" ng-if="(errFlag && errStatusCode === 404) || (myPaymentHistorySuccess === 'ok' && payments.length == 0) ">
        <div class="col-md-12" ng-if="!billings">
            <div class="alert alert-info">
                You have not made any purchases yet.
            </div>
        </div>
    </div>
    
    
    <div class="global-msg" ng-if="paginationError">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            Oops! It appears you have entered a wrong value</span>
        </div>
    </div>


<div ng-if="myPaymentHistorySuccess === 'ok' && payments.length > 0">
    <otd-pagination></otd-pagination>
    <table st-table="rowCollection" class="sortable  hide-my-payment-history-mobile  table table-striped " >
        <thead>
        <tr class="row-margin">
            <th>
                Order no.
            </th>
            <th>Transaction no.</th>
            <th><a href="" ng-click="doSort()"><i class="fa fa-sort"></i>Order date</a></th>
            <th>Booking type</th>
            <th>Summary</th>
            <th>Net</th>
            <th>VAT</th>
            <th class="row-margin-data">Total</th>
        </tr>
        <tr ng-repeat="payment in payments">
            <td>{{payment.orderId}} </td>
            <td>{{payment.pasref}}</td>
            <td>{{payment.orderDate | ISO8601Parse : "UK" : "DD-MM-YYYY"}}</td>
            <td>{{payment.bookingType}}</td>
            <td>{{payment.message}}</td>
            <td>£{{payment.quoteAmount | number : 2}}</td>
            <td>£{{payment.vatAmount | number : 2}}</td>
            <td class="bill-amount row-margin-data"> £{{(payment.amount/100)| number : 2}}</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <table st-table="rowCollection" class="show-my-payment-history-mobile table table-responsive table-striped billing-table" ng-if="myPaymentHistorySuccess === 'ok' && payments.length > 0" >
        <thead>
        <tr class="row-margin">
            <th>
                Order no.
            </th>
            <th>
                <a href=""  ng-click="doSort(billings)"><i class="fa fa-sort"></i>Order date</a>
            </th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start = "payment in payments" >
            <td><a href="" class="sm-mybilling">{{payment.orderId}}</a>
            </td>
            <td>{{payment.orderDate | ISO8601Parse : "UK" : "DD-MM-YYYY" }}</td>
            <td class="bill-amount">£{{(payment.amount/100)| number : 2}}</td>
        </tr>
        <tr class="sm-mybilling-open-close"  ng-repeat-end>
            <td colspan="3" class="relative">
                <button type="button" class="close sm-mybilling-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="col-50-p">
                    <dl class="dl-horizontal">
                        <dt>Transaction no:</dt>
                        <dd>{{payment.pasref}}</dd>
                        <dt>Booking type:</dt>
                        <dd>{{payment.bookingType}}</dd>
                        <dt>Summary:</dt>
                        <dd class="last">{{payment.message}}</dd>
                    </dl>
                </div>
                <div class="col-50-p">
                    <dl class="dl-horizontal">

                        <dt>Net:</dt>
                        <dd>£{{payment.quoteAmount | number : 2}}</dd>

                        <dt>VAT:</dt>
                        <dd class="last">£{{payment.vatAmount | number : 2}}</dd>

                    </dl>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
    <otd-pagination></otd-pagination>
    <!--<otd-pagination current-page = "currentPage" prev="prevLink" next="nextLink" total-record = "totalRecord" total-record="totalRecord" ></otd-pagination>-->
</div>

</div>