<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">onthedot.co.uk - our consumer offering</h1>
            <div class="row">
                <div class="col-lg-8">
                    <p class="para">Be part of the delivery revolution - giving your customers control over their deliveries. If you don’t want to integrate with our technology, the simpler way of offering your customers 1 hour delivery timeslots is to sign up as part of onthedot.co.uk.</p>
                    <p class="para">Any retailer can register with onthedot.co.uk. Customers will able to see all retailers signed up within a 5 mile radius of their delivery address. They can then organise a collection from their favourite retailer, selecting a 1 hour delivery timeslot of their choice. On the dot works with existing high street Click & Collect services, as well as for in-store and over the phone purchases. </p>
                    <p class="para">onthedot.co.uk is helping  independent retailers offer an innovative, added value delivery service with no integration or cost as the consumer arranges and pays for the delivery directly with On the dot. It also helps high street retailers alleviate the strain on Click & Collect services during peak periods, reducing parcel hold times.</p>
                    <p class="para">All we need from you is confirmation that you will allow On the dot to collect on behalf of your customers and permission for us to use your logo on our website so customers can see which retailers are registered with us in their area.</p>   
                    <p class="para">Signing up is easy. There is no cost to you and no integration required.</p>
                    <p class="para">Simply call the team on <span class="tel">0844 700 6911</span> or email us at <a href="mailto:signup@onthedot.co.uk">signup@onthedot.co.uk</a> for more information.</p>
                </div>
                <div class="col-lg-4 hero-content">
                    <h2 class="page-sub-title">Want to integrate our service and offer it directly to your customers?</h2>
                    <p class="para"><strong>We can integrate seamlessly with your e-commerce and/or EPOS systems. <a ng-href="{{homeUrl}}/integration-with-our-open-api">Find out more</a></strong></p>
                    <p class="para head"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}/faqs">FAQs</a></li>
                        <li><a ng-href="{{homeUrl}}/get-in-touch-retailer">Get in touch</a></li>
                        <li><a ng-href="{{homeUrl}}/integration-with-our-open-api">Intergrate with our technology</a></li>
                        <li><a ng-href="{{homeUrl}}/portal">Retailer portal</a></li>
                        <li><a ng-href="{{homeUrl}}/are-you-a-retailer">Retailer homepage</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>