<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
        <h1 class="page-main-title">Retailer Portal</h1>
        <div class="row">
            <div class="col-lg-8">

                <p class="para">
                    Our Retailer Portal allows you to instantly offer your customers a 1 hour delivery window without integration.
                </p>

                <p class="para">
                    You can still view and manage all of your deliveries in progress via your stores individual profile at onthedot.co.uk, all the time providing your customers with a unique shopping experience.
                </p>

                <p class="para">
                    With our Retailer Portal, you can buy bundles of deliveries based on a set 5 or 10 mile radius from your store. Alternatively, there is a ‘pay as you go’ option where deliveries can be booked at a standard rate when required.
                </p>

                    <h2 class="page-sub-title">When is this available?</h2>
                    <p class="para">
                        Our Retailer Portal will be available from October 2015.<br />
                        Please email at <a href="mailto:info@onthedot.co.uk">info@onthedot.co.uk</a> for further information.
                    </p>


                    <h2 class="page-sub-title">How much does this cost?</h2>
                    <p class="para">
                        Prices start from just £6.95 for an on demand delivery within 5 miles from your store.
                        Alternatively, you can purchase one of our money saving bundles;
                    </p>
                    <div class="cookies-tbl">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th width="20%" class="tbl-strong-header"></th>
                                    <th width="20%" class="tbl-strong-header" >Mini</th>
                                    <th width="20%" class="tbl-strong-header">Maxi</th>
                                    <th width="20%" class="tbl-strong-header">Mega</th>
                                    <th width="20%" class="tbl-strong-header">Monster</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th class="tbl-strong-header">Zone</th>
                                    <td>x 10 deliveries</td>
                                    <td>x 25 deliveries</td>
                                    <td>x 50 deliveries</td>
                                    <td>x 100 deliveries</td>
                                </tr>

                                <tr>
                                    <th class="tbl-strong-header">5 mile</th>
                                    <td>&pound; 65.00</td>
                                    <td>&pound; 160.00</td>
                                    <td>&pound; 300.00</td>
                                    <td>&pound; 575.00</td>
                                </tr>

                                <tr>
                                    <th class="tbl-strong-header">10 mile</th>
                                    <td>&pound; 85.00</td>
                                    <td>&pound; 210.00</td>
                                    <td>&pound; 400.00</td>
                                    <td>&pound; 775.00</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                <div>
                    Please note, all prices are subject to VAT.
                </div>


             </div>
            <div class="col-lg-4 hero-content">
                <h2 class="page-sub-title">Want to integrate with our API?</h2>
                <p class="para"><strong>Our RESTful API offers full integration of our user interface into your e-commerce and/or EPOS systems. <a ng-href="{{consumerHomeUrl}}/integration-with-our-open-api">Find out more</a></strong></p>
                <p class="para head nomargin-top"><strong>Related links</strong></p>
                <ul class="dash">
                    <li><a ng-href="{{retailerHomeUrl}}/faqs">FAQ's</a></li>
                    <li><a ng-href="{{retailerHomeUrl}}/get-in-touch">Get in touch</a></li>
                    <li><a ng-href="{{consumerHomeUrl}}">Onthedot.co.uk</a></li>
                    <li><a ng-href="{{retailerHomeUrl}}">Retailer homepage</a></li>
                    <li><a ng-href="{{retailerHomeUrl}}/signup">Signup</a></li>
                </ul>
            </div>
          </div>
       </div>
    </div>
 </div>