
<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">on the dot terms (b2b)</h1>
            <div class="row">
                <div class="col-lg-8">
                  <h5 class="page-sub-title">1. INTRODUCTION</h5>
                  <p class="para">
                      1.1 These terms apply to our provision of the On the dot service to enable you to book Deliveries on the Website for delivery within a 1 Hour Slot.
                  </p>
                  <p class="para">
                      1.2 These terms are split into 2 sections:
                  </p>
                  <p class="para">
                      Part 1 – Key Definitions;
                  </p>
                  <p class="para">
                      Part 2 - Service Terms
                  </p>
                  <p class="para">
                      together, the "Ts&Cs".
                  </p>
                  <p class="para">
                      1.3 Please ensure that you read these Ts&Cs carefully.  <strong>In particular, please bear in mind that the Delivery Bundles expire after 6 months from date of purchase unless we agree otherwise in writing, there are restrictions on the type of Item which can be delivered via the On the dot service and restrictions on the postcodes where collections and deliveries can be made to and from and we have sought to limit our liability depending on the Item value.</strong>
                  </p>
                  <p class="para">
                      1.4 you are uncertain as to your rights under these Ts&Cs or you want any explanation about them, please write to us at CitySprint, Ground Floor, RedCentral, 60 High St, Redhill, Surrey, RH1 1SH or <a href="mailto:customercare@onthedot.co.uk">customercare@onthedot.co.uk.</a> or telephone us at <span class="tel">020 7880 1444</span>. We may change the version of the Ts&Cs published on the Website from time to time but the changes will only apply to Delivery Bundles purchased after the date on which the changes are published. The changes will not apply to any Delivery Bundles that you have already purchased.
                  </p>
                  <h5 class="page-sub-title">PART 1 – KEY DEFINITIONS</h5>
                  <div class="table-responsive tc-tbl">
                      <table class="table table-bordered">
                          <!--<thead>-->
                          <!--<tr>-->
                          <!--<th width="20%">Used By</th>-->
                          <!--<th width="20%">Name</th>-->
                          <!--<th width="25%">Expiry Date</th>-->
                          <!--<th width="30%">Displays relevant cookie information for the website.</th>-->
                          <!--</tr>-->
                          <!--</thead>-->
                          <tbody>
                              <tr>
                                  <td width="20%"><strong>1 Hour Slot</strong></td>
                                  <td width="80%">a 1 hour delivery slot selected by you from those listed as available on the Website.</td>
                              </tr>

                              <tr>
                                  <td><strong>Account</strong></td>
                                  <td>an account unique to you containing the information specified in Condition 1 of Part 2, available Deliveries and Booking history</td>

                              </tr>
                              <tr>
                                  <td><strong>Booking</strong></td>
                                  <td>a booking for the delivery of an Item placed by you with us via the Website.</td>
                              </tr>
                              <tr>
                                  <td><strong>Collection Address</strong></td>
                                  <td>the address to which your Account is registered which is within the postcodes from which we collect (as set out on the Website).</td>
                              </tr>
                              <tr>
                                  <td><strong>Delivery</strong></td>
                                  <td>A single Booking for the delivery within a 1 Hour Slot of an Item from the Collection Address to a delivery address within the number of miles’ radius of the Collection Address specified in the Booking.</td>
                              </tr>
                              <tr>
                                  <td><strong>Delivery Bundle</strong></td>
                                  <td>has the meaning in Part 2.</td>
                              </tr>
                              <tr>
                                  <td><strong>Excluded Items</strong></td>
                                  <td>
                                      <p>(a) firearms, munitions, inflammable items or other explosives, livestock or other animals, people, human remains, any obscene, defamatory, blasphemous, scandalous or other indecent material, any item (including, without limitation, drugs or other illegal substances) which is prohibited or illegal to possess or import into any country through or into which the carriage of the Item is to take place; and</p>
                                      <p>(b) precious stones, precious metals, watches, jewellery, glass, furs, china, art, antiques, prescription drugs, fragile and perishable goods, money, vouchers, travellers cheques, bearer bonds, bills of exchange, promissory notes, stamps, photographs, documents of title to property, bank, credit, pre-pay or other store cards with a cash equivalent value, spirits, tobacco and cigarettes and any other goods which we may in our reasonable discretion deem to be valuable; and</p>
                                      <p>(c) dangerous goods as defined in the Carriage of Dangerous Items by Road Regulations 1996 (as amended); and</p>
                                      <p>(d) any other item for which we would not reasonably be expected to have appropriate storage facilities, equipment or licences to enable us to deliver the Item. </p>
                                  </td>
                              </tr>
                              <tr>
                                  <td><strong>Item</strong></td>
                                  <td>
                                      goods or property, whether or not contained in separate parcels, packages, containers or envelopes including any paper and documents, to be delivered by us for you.
                                  </td>
                              </tr>
                              <tr>
                                  <td><strong>Unforeseen Event</strong></td>
                                  <td>
                                      any act or event beyond our reasonable control, including without limitation, strikes, lock-outs or other industrial action by third parties, civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for war, fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster or failure of public or private telecommunications networks, inclement weather, road accidents, malicious damage, insufficient or improper packing, labelling or addressing, major unexpected traffic, major unexpected road works, widespread Internet or power failure, the Item is not available for collection or delivery, you or the recipient is not available or does not permit us to collect or deliver the Item for any reason, the Booking contains incorrect or incomplete information or the Item does not comply with the Item Restrictions.
                                  </td>
                              </tr>
                              <tr>
                                  <td><strong>we/our/us</strong></td>
                                  <td>
                                      CitySprint (UK) Limited trading as On the dot.<br />
                                      Our registered office is Ground Floor, RedCentral, 60 High St, Redhill, Surrey, RH1 1SH, our telephone number is <span class="tel">020 7880 1444</span>, our VAT number is <span class="tel">997 3273 64</span> and our email address is
                                      <a href="mailto:customercare@onthedot.co.uk">customercare@onthedot.co.uk.</a>

                                  </td>
                              </tr>
                              <tr>
                                  <td><strong>Website</strong></td>
                                  <td>
                                      an online tool owned or operated by us and accessible at the following weblink: <a href="http://www.onthedot.co.uk">www.onthedot.co.uk</a>
                                  </td>
                              </tr>
                              <tr>
                                  <td><strong>you/your</strong></td>
                                  <td>
                                      any person or business acting in a commercial capacity who uses the Website.
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <h5 class="page-sub-title">PART 2 - SERVICE TERMS</h5>
                  <h5 class="page-sub-title">1. OPENING AN ACCOUNT</h5>
                  <p class="para">
                      1.1 From time to time, delivery bundles may be offered for purchase on the Website for a certain number of Deliveries from your Collection Address to delivery addresses within the number of miles’ radius of the Collection Address specified on the Website (each a “Delivery Bundle”).
                  </p>
                  <!--                    <p class="para">
                                          (a) a one-off purchase of 1 Delivery (“Single Delivery”); <br/>
                                          (b) a bulk purchase of 5 Deliveries (“Small Bundle”); and <br/>
                                          (c) a bulk purchase of 8 Deliveries (“Big Bundle”),
                                      </p>-->
                  <!--<p class="para">each a <strong>“Delivery Bundle”. </strong></p>-->
                  <p class="para">
                      1.2 You will need to open an Account to purchase Delivery Bundles
                  </p>
                  <p class="para">
                      1.3 The individual signing up for an account must have your authority to enter into these Ts&Cs on your behalf. You will need to provide your business name and store address, store opening hours, bank holiday working and opening hours, the name of the individual account user, email address, mobile number and a password. Your store address must be within the within the postcodes from which we collect (as set out on the Website) as that address will be your Collection Address.
                  </p>
                  <p class="para">
                      1.4 You:
                  </p>

                  <p class="para"> (a) must ensure that the details that you provide when you open the Account are accurate, current and complete in all respects. Please let us know if there are any updates to your details by updating your Account on the Website or by contacting us at <a href="mailto:customercare@onthedot.co.uk">customercare@onthedot.co.uk</a> ,
                  </p>
                  <p class="para"> (b) are responsible for maintaining the confidentiality of your Account details, including your validation code and password, and you must not under any circumstances share them with person who is not employed by you; and
                  </p>
                  <p class="para"> (c) are responsible for all activity and use of the Website under your Account.
                  </p>

                  <p class="para">1.5	You agree that we may collect, store, use and transfer any information you provide in accordance with our Privacy Policy, which is incorporated into these Ts&Cs and available
                      <a ng-href="{{homeUrl}}/privacy-policy">here</a>.
                  <p class="para">1.6	We will send you a validation code to the mobile number provided on opening of the Account. You must enter the validation code on the Website to activate your Account</p>

                  <h5 class="page-sub-title">2. PURCHASING BUNDLES</h5>

                  <p class="para">2.1 you wish to order a Delivery Bundle, you must log in to your Account (if not already logged in) directly from the homepage using your email address and password or via Facebook or Google, select the Delivery Bundle you wish to purchase and agree to these Ts&Cs by clicking your acceptance of them.</p>
                  <!--                    <p class="para">
                                          (a) enter a delivery postcode on the homepage of the Website, select one of the listed retailers and stores for collection (or enter your own retailer and store together with the store opening time), select a Delivery Bundle, date for collection and 1 Hour Slot at which point you will prompted to create or log in to your Account;<br/>
                                          (b) log in to your Account (if not already logged in) directly from the homepage using your email address and password, or via Facebook or Google and follow the steps in 2.1(a) above; and
                                      </p>
                                      <p class="para">and in each case, you must agree to these Ts&amp;Cs by clicking your acceptance of them. </p>-->
                  <p class="para">2.2 You will be given the opportunity to review and correct any errors in your order prior to placing it.</p>
                  <p class="para">2.3 You will be obliged to pay the price of the Delivery Bundle to us by credit or debit card at the time of placing your order. The price of each Delivery Bundle will be shown in the Website at the time of placing your order. The price of the Delivery Bundles that offer multiple Deliveries is a discounted price due to a volume purchase.</p>
                  <p class="para">2.4 Your order is an offer to us which is subject to our acceptance. If we accept your order, we will send you an email confirming such acceptance, at which point a legally binding contract between us for the purchase of the Delivery Bundle is automatically created, the price will be charged to your credit or debit card (as applicable) and the Delivery Bundle will be noted in your Account. </p>
                  <p class="para">2.5 Each Delivery Bundle purchased by you will expire within 6 months of the date of purchase, unless we expressly agree otherwise with you in writing. No further Deliveries may be booked with expired Delivery Bundles.</p>
                  <h5 class="page-sub-title">3. BOOKING DELIVERIES</h5>
                  <p class="para">3.1 You may book a Delivery from your Delivery Bundle within 6 months of the date of purchase of the Delivery Bundle.</p>
                  </p>
                  <p class="para">
                      (a) from your Delivery Bundle within 6 months of the date of purchase of the Delivery Bundle; <br/>
                      (b) by using your credit or debit card to purchase a single Delivery at the price shown on the Website at the time you book; or <br/>
                      (c) by redeeming a voucher for a single Delivery.
                  </p>



                  <p class="para">3.2	If you wish to book a Delivery, you shall:.</p>
                  <p class="para">
                      (a)	submit a Booking on the Website specifying:
                  </p>
                  <p class="para">
                      (i)	a customer reference or order number;<br/>
                      (ii)	the value of the Item in pounds sterling;<br/>
                      (iii)	(if not already provided) full Collection Address and opening hours;<br/>
                      (iv)	(if not already provided) date for delivery and a preferred 1 Hour Slot (chosen from the available slots listed on the Website at the time of your Booking); <br/>
                      (v)	full delivery location address and a name of a contact person at the delivery location, their mobile number and email address (if you want the customer to be able to track the Delivery); <br/>
                      (vi)	any other collection instructions or delivery instructions;<br/>
                      (vii)	any promotional code; and <br/>
                      (viii)	your name as shown on the payment card if you are purchasing a Delivery; <br/>
                </p>
                <p class="para">
                (b)	ensure that your staff at the Collection Address are aware that we will be collecting the delivery and will release the Item to us; and
                </p>
                <p class="para">
                (c)	ensure that the recipient is aware that we will be delivering the Item on your behalf and that they will accept the Item from us.
                </p>
                <h5 class="page-sub-title">4.	ITEM RESTRICTIONS</h5>

                <p class="para">4.1	You must ensure that: </p>
                <p class="para">
                  (a)	the Item is not an Excluded Item. You accept that we may open and examine any Item that we reasonably consider to be a security or health and safety risk to us and to take, in our reasonable discretion, appropriate action thereafter.
                  (b)	the Item is available for collection, secure, properly packed and labelled and is fit and safe to be carried, stored and transported by road on the date of delivery. We will collect the Item on the same date as the date of delivery specified in the Booking, unless otherwise agreed with you;
                  (c)	the Item does not exceed 20kg;
                  (d)	the Item is not larger than 1.2m x 1.0m x 1.0m
                  (together the “Item Restrictions”).
                </p>
                <p class="para">
                4.2	We may refuse any Booking and we may not be able to deliver any Item which fails to comply with the above Item Restrictions.
                </p>

                <h5 class="page-sub-title">5.	CANCELLATION</h5>
                <p class="para">
                5.1	Subject always to the provisions of this Condition 5, you shall and we shall each be entitled to cancel a Booking at any time for any reason with immediate effect by notice to the other.
                </p>
                <p class="para">
                5.2	Where we cancel a Booking pursuant to Condition 5.1 by reason of a breach of these Ts&Cs by you, we may, without prejudice to any rights or remedies we may have at law or under these Ts&Cs, we may charge (and you shall pay) a reasonable fee for time and effort incurred by us in connection with that Booking, up to the full value of the Booking. We further reserve the right to hold you liable for missed work opportunities caused by a breach of these Ts&Cs and the cancellation of a Booking pursuant to this Condition 5.2.
                </p>
                <p class="para">
                5.3	In the event of cancellation of any Booking for an Item by you, you shall be liable to us for our charges in full for the Booking where we have collected the Item in question.
                </p>
                <p class="para">
                5.4	Where you cancel a Booking after we have departed to collect the Item (but before collection has taken place), we may charge (and you shall pay) a reasonable fee for time and effort incurred by us in connection with that Booking, up to the full value of the Booking. We further reserve the right to hold you liable for missed work opportunities caused by the cancellation of a Booking following our departure (but prior to collection).
                </p>

                <h5 class="page-sub-title">6.	LIMITATION OF LIABILITY</h5>
                <p class="para">
                6.1	Except for our liability for personal injury or death arising from our negligence, fraud or fraudulent misrepresentation or any other liability which cannot be excluded or limited by law:
                </p>
                <p class="para">
                    (a)	our total aggregate liability to you (whether in contract, tort (including, without limitation, negligence), statute or otherwise) is as set out in the table below.
                </p>

                <table class="table table-bordered" style="max-width: 400px;">
                  <thead>
                    <tr class="active">
                      <th width="20%">Value of Item</th>
                      <th width="20%">Maximum Total Liability of us in respect of Item</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Less than £100</td>
                      <td>£100</td>
                    </tr>
                    <tr>
                      <td>More than £100 but less than £1,000</td>
                      <td>£1,000</td>
                    </tr>
                    <tr>
                      <td>Over £1,000</td>
                      <td>£1,000 only</td>
                    </tr>
                  </tbody>
                </table>
                <p class="para">
                (b)	we shall not be responsible (whether in contract, tort (including, without limitation, negligence), statute or otherwise) for any loss of profits and/or for any special, indirect, incidental or consequential loss or damage suffered by you, including, without limitation:
                </p>
                <p class="para">
                    (i)	loss due to delay in delivery; and/or <br/>
                    (ii)	loss of anticipated savings; and/or <br/>
                    (iii)	loss of business and/or goods; and/or<br/>
                    (iv)	loss of goodwill; and/or<br/>
                    (v)	loss of use; and/or<br/>
                    (vi)	loss of data or other information; and/or<br/>
                    (vii)	loss relating to the procurement by you of any substitution of goods or services.<br/>
                    The types of loss and/or damage specified in Conditions 5.1(b)(i) to (vii) above shall not constitute direct loss for the purpose of these Ts&Cs.
                  </p>

                  <p class="para">
                  6.2	You shall indemnify us against all losses suffered by us (including but not limited to claims, demands, proceedings, fines, penalties, damages, costs, expenses and loss of or damage to the carrying vehicle and to other goods carried) for:
                  </p>
                  <p class="para">
                    (a)	all loss suffered by us as a result of any breach by you of these Ts&Cs, fraud, error, omission, or misrepresentation by you, the owner of the Item or the intended recipient of the Item; and/or<br/>
                    (b)	all claims and demands made against us by any third party in excess of our liability under these Ts&Cs; and/or<br/>
                    (c)	all loss suffered by us resulting from loss of or damage to property caused by any Excluded Items.<br/>
                  </p>


                          <h5 class="page-sub-title"> 7. 	LATE OR NON DELIVERY (OUR FAULT) </h5>
                  <p class="para">
                  7.1	If we are unable to deliver the Item in accordance with the Booking and this is not due to an Unforeseen Event, then we will notify you of this by email or phone and we will do our best to deliver the Item to the intended recipient on the same day as the original delivery date. If re-delivery on the same day is not possible or practical, we will store the Item at no cost to you. In any case, you will receive a voucher code entitling you to book an extra Single Delivery free of charge provided you notify us of such failure in writing. The voucher code must be used within 6 months of the date of the failed Delivery. This will be your only financial remedy for late or non-delivery due to our fault (except in the case of late or non-delivery due to loss of the Item). This does not affect any other rights or remedies which you may have for any other failure.
                  </p>
                  <p class="para">
                  7.2	If you think that we have lost or damaged an Item, you should provide to us written proof of the value of the Item damaged or lost. If the Item is damaged, we shall be entitled to inspect the damaged Item on request to check the damage.
                  </p>
                  <p class="para">
                  7.3	We shall not be liable for loss of, misdelivery or damage to any Item unless you notify us of such loss or damage in writing within 7 days of the end of the transit and the claim giving details of the value and the circumstances of any loss is made in writing within 14 days after the end of transit.
                  </p>

                  <h5 class="page-sub-title"> 8. 	LATE OR NON DELIVERY (NOT OUR FAULT) </h5>
                  <p class="para">
                  8.1	We will make every effort to deliver the Item in accordance with the Booking and within the 1 Hour Slot but we cannot be held responsible for any non-delivery or late delivery or other failure due to any Unforeseen Event.
                  </p>
                  <p class="para">
                  8.2	If we are unable to deliver the Item in accordance with the Booking and this is due to an Unforeseen Event, then we will notify you of this by email or phone and we will return the Item to you at the Collection Address. Without prejudice to any rights or remedies we may have at law or under these Ts&Cs, we may charge (and you shall pay) a reasonable fee for time and effort incurred by us in connection with returning that Item up to a maximum of twice the Booking Fee. We further reserve the right to hold you liable for missed work opportunities caused by the return of such Item.
                  </p>


                  <h5 class="page-sub-title">9. UNFORESEEN EVENTS </h5>
                  <p class="para">
                  9.1	We will make every effort to comply with these Ts&Cs but we will not be liable or responsible for any failure or delay due to your acts or omissions or recipient’s acts or omissions or any failure to package and/or label the Item correctly or the natural deterioration or fragility of the Item (notwithstanding that it may be marked “Fragile”) or any Unforeseen Event.
                  </p>
                  <p class="para">
                  9.2	If an Unforeseen Event takes place that affects us:
                  </p>
                  <p class="para">
                    (a)	we will contact you as soon as reasonably possible; <br/>
                    (b)	our contractual obligations will be suspended and the time for performance of our obligations will be extended for the duration of the Unforeseen Event; and<br/>
                    (c)	the Delivery and/or Delivery Bundle will be cancelled if the Unforeseen Event subsists for a period exceeding one (1) calendar month, unless otherwise agreed with you. If a Delivery Bundle that includes unused Deliveries is cancelled, then we will refund you a pro rata refund of the price based on the unused Deliveries up to the date of cancellation and retain the balance of the price.	<br/>
                  </p>

                  <h5 class="page-sub-title">10.OTHER IMPORTANT CONDITIONS </h5>
                  <p class="para">
                  10.1	These Ts&Cs (and each Booking) are the entire agreement between you and us in relation to the On the dot service. Nothing in these Ts&Cs shall limit your or our liability in respect of fraud or fraudulent misrepresentation.
                  </p>
                  <p class="para">
                  10.2	No changes to these Ts&Cs will be valid unless we expressly agree them with you.
                  </p>
                  <p class="para">
                  10.3	You may not assign, sub-contract or otherwise transfer any of our rights or obligations under the Ts&Cs to any third party without our prior written consent (which we will not unreasonably withheld). We may subcontract our obligations to any reputable third party. We may assign any of our rights or obligations under these Ts&Cs, in whole or in part, to any existing or future entity associated with us or in the event of a merger, acquisition, divestiture, consolidation or corporate reorganisation.
                  </p>
                  <p class="para">
                  10.4	If any part of these Ts&Cs is held by law to be unenforceable, that part should be deleted and the other Ts&Cs will not be affected.
                  </p>
                  <p class="para">
                  10.5	A person who is not a party to a Contract between you and us has no rights under the Contracts (Rights of Third Parties) Act 1999 to rely upon or enforce any term of that Contract.
                  </p>
                  <p class="para">
                  10.6	These Ts&Cs (and all non-contractual obligations) shall be governed by English law and subject to the exclusive jurisdiction of the courts of England and Wales.
                  </p>

                </div>
                <div class="col-lg-4 hero-content">
                    <h2 class="page-sub-title">Want to know more about our privacy policy?</h2>
                    <p class="para"><strong>Read our full <a ng-href="{{consumerHomeUrl}}/privacy-policy">privacy policy</a> here or see more about our <a ng-href="{{consumerHomeUrl}}/cookies">cookies</a> here</strong></p>

                    <p class="para head nomargin-top"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{retailerHomeUrl}}">Retailer homepage</a></li>
                        <li><a ng-href="{{retailerHomeUrl}}/get-in-touch">Get in touch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
