<div class="container inner-page form-page" apply-bg>
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-main-title">
                Update password
            </h1>

            <div ng-if="sendSuccess">
                <div class="alert alert-info">
                    Great! Your password has been saved
                </div>
            </div>
            <div ng-if="sendfailure">
                <div class="alert alert-danger alert-error">
                   Oops! It appears there is a problem. Please try again...
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <form role="form" name="updatePassword" role="form"  novalidate ng-submit="updatepassword(updatePassword.$valid)">
                        <div class="row">
                            <div class="col-md-7">
                                <!--<div class="form-group" ng-class="{
                                                    'has-error'
                                                            : (updatePassword.emailAddress.$dirty && updatePassword.emailAddress.$invalid) || (updatePassword.$submitted && updatePassword.emailAddress.$invalid) || (updatePassword.emailAddress.$touched && updatePassword.emailAddress.$invalid)}">-->
                            <div class="form-group"  ng-class="{'has-error': (updatePassword.emailAddress.$invalid && updatePassword.$submitted) ||  (updatePassword.emailAddress.$invalid && updatePassword.emailAddress.$touched) }">
                                    <input type="email" class="form-control"  name="emailAddress" ng-model="mydelivery.emailaddress" placeholder="Email address *" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"  ng-maxlength="80" required />
                                    <div ng-if="(updatePassword.emailAddress.$touched || updatePassword.$submitted)" ng-messages="updatePassword.emailAddress.$error" ng-messages-include='views/error-messages.html'>
                                       
                                        <div ng-message="pattern" class="error-msg">Oops! It appears you have entered an invalid email address. Please try again…</div>
                                        <div ng-message="required" class="error-msg">Oops! It appears you have entered an invalid email address. Please try again…</div>
                                        <div ng-message="maxlength" class="error-msg">Email Address should be maximum of 80 characters length</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <!--<div class="form-group" ng-class="{
                                                    'has-error'
                                                            : (updatePassword.password.$dirty && updatePassword.password.$invalid) || (updatePassword.$submitted && updatePassword.password.$invalid) || (updatePassword.password.$touched && updatePassword.password.$invalid)  }">-->
                                <div class="form-group"  ng-class="{'has-error': (updatePassword.$submitted && updatePassword.password.$invalid) || (updatePassword.password.$touched && updatePassword.password.$invalid)}">
                                    <input type="password" class="form-control" name="password" ng-model="mydelivery.password"  ng-minlength="6" ng-pattern="/^((?=.*\d)(?=.*[a-zA-Z])(?=.*[a-zA-Z@#$%]).{6,})$/"  placeholder="Password *" required />
                                    <div ng-if="(updatePassword.$submitted || updatePassword.password.$touched)" ng-messages="updatePassword.password.$error" ng-messages-include='views/error-messages.html'>
                                        <div ng-message="minlength" class="error-msg">Sorry! Your password must be a minimum of six characters and a combination of letters and numbers</div>
                                        <div ng-message="pattern" class="error-msg">Sorry! Your password must be a minimum of six characters and a combination of letters and numbers</div>
                                        <div ng-message="required" class="error-msg">Oops! Please enter a password</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <!--<div class="form-group" ng-class="{
                                                    'has-error'
                                                            : (updatePassword.conNewPassword.$dirty && updatePassword.conNewPassword.$invalid) || (updatePassword.$submitted && updatePassword.conNewPassword.$invalid) || (updatePassword.conNewPassword.$touched && updatePassword.conNewPassword.$invalid)  }">-->
                                <div class="form-group" ng-class="{'has-error': (updatePassword.$submitted && updatePassword.password.$invalid) || (updatePassword.password.$touched && updatePassword.password.$invalid)}">
                                    <input type="password" placeholder="Confirm Password *"  class="form-control" name="conNewPassword" ng-model="mydelivery.newPassword" compare-to="mydelivery.password"  />
                                    <div ng-if="(updatePassword.$submitted || updatePassword.conNewPassword.$touched)" ng-messages="updatePassword.conNewPassword.$error" ng-messages-include='views/error-messages.html'>
                                        <div ng-message="compareTo" class="error-msg">Oops! Password does not match. Please try again.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-default btn-primary" >Save</button>
                    </form>
                </div>
            </div>
            </div>
    </div>
</div>
