
<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">where we deliver</h1>
            <div class="row">
                <div class="col-lg-8 para-heading">
                    <h3>On the dot is currently available in central London but watch out for us, as we will soon be popping up in towns and cities across the country.</h3>
                    <p class="para">If your delivery address is in one of the postcodes listed below, you can book a collection from your favourite stores within a 5 mile radius of your location.</p>
                    <div class="col-md-12">
                        <div class="col-md-11 pull-right" >
                            <img src="images/where_we_deliver_postcodes.jpg" class="img-responsive image">
                        </div>
                    </div>
                    <p class="para">You are not tied to one single delivery location - you can have as many as you like so it could be your home, work or even your parents’ house. But just remember that your delivery postcode must be in the list above.</p>
                    <h2 class="page-title">Where we collect</h2>
                    <p class="para">Not sure if we collect from your favourite shop?  If your delivery postcode is in the list above and your store’s collection postcode is within 5 miles of this, On the dot can help.</p> 
                    <p class="para">No matter where you live or work, whether its W14 or E1, you can book collections from all the major shopping districts in the city. So if like Dottie, you live in E1 it means you can arrange collections from as far as Stratford, Camden, Dulwich, Crouch End, the West End or even Clapham.</p>
                    <img src="images/where_we_deliver_map.jpg" class="img-responsive image">

                    <p class="para">If your chosen delivery address is not in one of the launch postcodes, don’t worry, we will soon be in your area.  <a ng-href="{{homeUrl}}/get-in-touch">Register with us</a> to be the first to hear about our special launch promotions and we’ll let you know when we are delivering near you.</p>
                </div>
                <div class="col-lg-4 hero-content">
                    <p class="para head nomargin-top"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}/how-it-works">How it works</a></li>
                        <li><a ng-href="{{homeUrl}}/what-it-costs">What it costs</a></li>
                        <li><a ng-href="{{homeUrl}}/are-you-a-retailer">Are you a retailer?</a></li>
                        <li><a ng-href="{{homeUrl}}/faqs">FAQs</a></li>
                        <li><a ng-href="{{homeUrl}}/get-in-touch">Get in touch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>   
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
            <a ng-href="{{homeUrl}}/"> 
                <div class="footerwherewedeliver">
                </div> 
            </a>
        </div>
    </div>    
</div>