<!--<form id="modal-form-retailer-distance" class="form" role="form" name="retailerDistance">
    <div class="modal-body medium-modal-body">

        <div class="medium-modal-container clearfix">
            <div class="col-md-2 col-xs-2 ret-warn-container">
                <i class="fa fa-exclamation-triangle retailer-distance-warning"></i>
            </div>

            <div class="col-md-10  col-xs-10 retailer-distance-text">
                <p>Your pickup journey distance is too long !</p>
                <p class="retailer-distance-info-text">Oops! We are sorry this is outside of your 5 mile On the dot 
collection zone based on your delivery postcode. Unfortunately we cannot collect from here. Why not try a different retailer or a different delivery postcode?</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-offset-2  col-md-10 col-xs-offset-2  col-xs-10 text-left medium-modal-footer-btn">
                <button class="btn btn-primary btn-medium-modal" ng-click="retDistHideModal()">Close</button>
            </div>
        </div>
    </div>
</form>-->
<div class="modal-header alert-header">        
    <div class="row">
        <div class="col-md-3 col-xs-3 alert-icon reset-padding-right">
           <div class="icon icon-warning color-red"></div>                 
        </div>
        <div class="col-md-9 col-xs-9 reset-padding-left">
            <h1 class="modal-main-title">Sorry, your delivery is too far away</h1>
        </div>
    </div>
</div>
<form id="modal-form-retailer-distance" class="form" role="form" name="retailerDistance">
    <div class="modal-body alert-body">
       <div class="row">
            <div class="col-md-3 col-xs-3 alert-icon reset-padding-right">                          
            </div>
            <div class="col-md-9  col-xs-9 reset-padding-left">
                <p class="min">Oops! We are sorry, but this is outside of the maximum On the dot delivery zone, so unfortunately we cannot deliver this time. Please try another postcode</p>
            </div>
        </div>
    </div>
    
    <div class="modal-footer alert-footer go-right-modal-btn">
        <div class="row">
            <div class="col-xs-1 col-sm-3 col-md-3 alert-icon reset-padding-right">                          
            </div>
            <div class="col-xs-11 col-sm-9 col-md-9 reset-padding-left">
                 <button class="btn btn-primary btn-medium-modal" ng-click="retDistHideModal()">Close</button>
            </div>
        </div>
    </div>
</form>


