<div class="modal-header alert-header">        
    <div class="row">
        <div class="col-md-3 col-xs-3 alert-icon reset-padding-right">
            <div class="icon icon-warning color-red"></div>                   
        </div>
        <div class="col-md-9 col-xs-9 reset-padding-left">
            <h1 class="modal-main-title">Are you sure you want to change the postcode?<br></h1>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="changeEditdemodal()"><span class="icon icon-clear" ></span></button>
    </div>

</div>

<form id="modal-get-quote-notification" class="form" role="form" novalidate ng-submit="editNotifySubmit()">
    <div class="modal-body alert-body">
        <div class="row">
            <div class="col-md-3 col-xs-3 alert-icon reset-padding-right">                          
            </div>
            <div class="col-md-9  col-xs-9 reset-padding-left">
				<p>This operation will clear all your entered data in the registration form.</p>

            </div>
        </div>
    </div>

    <div class="modal-footer alert-footer go-right-modal-btn">
        <div class="row">
            <div class="col-xs-1 col-sm-3 col-md-3 alert-icon reset-padding-right">                          
            </div>
            <div class="col-xs-11 col-sm-9 col-md-9 reset-padding-left">
                <button type="submit" class="btn btn-primary btn-medium-modal" >Yes please</button>
                <button type="button" class="btn btn-primary btn-medium-modal" data-dismiss="modal" aria-label="Close" ng-click="changeEditdemodal()">No thanks</button>
            </div>
        </div>
    </div>
</form>


