<div class="row">
    <div class="col-md-12">
        <h1 class="page-main-title">
            change password
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <form role="form" name="conPassform" novalidate method="post" ng-submit="changePassword(conPassform.$valid)" scrollto-first>


            <!--<div ng-show="changePasswordSaved">
                <div class="alert alert-success">
                    <strong>Great! Your password has been saved </strong>
                </div>
            </div>-->
            <div ng-show="changePasswordfailed">
                <div class="alert alert-danger alert-error">
                    <strong>Oops! It appears there is a problem. Please try again...</strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="form-group" ng-class="{
                            'has-error'
                                    : (conPassform.curPassword.$touched && conPassform.curPassword.$invalid) || (conPassform.$submitted && conPassform.curPassword.$invalid) || (conPassform.curPassword.$touched && conPassform.curPassword.$invalid)}">
                        <input type="password" class="form-control" name="curPassword" ng-model="curPassword" ng-minlength="6" ng-pattern="/^(\d+[a-zA-Z]|[a-zA-Z@!#$%^&*()|?,.:;'`~<>]+\d)[a-zA-Z@!#$%^&*()|?,.:;'`~<>\d]*$/" placeholder="Current password *" required id="cur-password" ng-keypress="clearErrorMsg()">
                        <div ng-if="(conPassform.$submitted || conPassform.curPassword.$touched || (conPassform.curPassword.$touched && conPassform.curPassword.$invalid))" ng-messages="conPassform.curPassword.$error" ng-messages-include='views/error-messages.html'>
                            <!--<div ng-messages="conPassform.curPassword.$dirty && conPassform.curPassword.$error"  ng-messages-include='views/error-messages.html'>-->
                            <div ng-message="minlength" class="error-msg">Sorry! Your password must be a minimum of six characters and a combination of letters and numbers</div>
                            <div ng-message="pattern" class="error-msg">Sorry! Your password must be a minimum of six characters and a combination of letters and numbers</div>
                            <div ng-message="required" class="error-msg">Oops! This field is required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="form-group" ng-class="{
                            'has-error'
                                    : (conPassform.newPassword.$touched && conPassform.newPassword.$invalid) || (conPassform.$submitted && conPassform.newPassword.$invalid) || (conPassform.newPassword.$touched && conPassform.newPassword.$invalid) }">
                        <input type="password" name="newPassword" ng-model="newPassword" placeholder="New password *" required ng-pattern="/^(\d+[a-zA-Z]|[a-zA-Z@!#$%^&*()|?,.:;'`~<>]+\d)[a-zA-Z@!#$%^&*()|?,.:;'`~<>\d]*$/"
                               ng-minlength="6" class="form-control" id="new-password" >
                        <!--<div ng-messages="conPassform.newPassword.$touched && conPassform.newPassword.$error" ng-messages-include='views/error-messages.html'>-->
                          <div ng-if="(conPassform.$submitted || conPassform.newPassword.$touched || (conPassform.newPassword.$touched && conPassform.newPassword.$invalid))" ng-messages="conPassform.newPassword.$error" ng-messages-include='views/error-messages.html'>
                           
                            <div ng-message="required" class="error-msg">Oops! This field is required</div>
                            <div ng-message="minlength" class="error-msg">Sorry! Your password must be a minimum of six characters and a combination of letters and numbers</div>
                            <div ng-message="pattern" class="error-msg">Sorry! Your password must be a minimum of six characters and a combination of letters and numbers</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group" ng-class="{
                            'has-error'
                                    : (conPassform.conNewPassword.$touched && conPassform.conNewPassword.$invalid) || (conPassform.$submitted && conPassform.conNewPassword.$invalid) || (conPassform.conNewPassword.$touched && conPassform.conNewPassword.$invalid) }">
                        <input type="password"  name="conNewPassword" ng-model="conNewPassword" placeholder="Confirm new password *" required  compare-to="newPassword" class="form-control" id="con-password" >
                        <!--<div ng-messages="conPassform.conNewPassword.$touched && conPassform.conNewPassword.$error" ng-messages-include='views/error-messages.html'>-->
                           <div ng-if="(conPassform.$submitted || conPassform.conNewPassword.$touched || (conPassform.conNewPassword.$touched && conPassform.conNewPassword.$invalid))" ng-messages="conPassform.conNewPassword.$error" ng-messages-include='views/error-messages.html'>
                            <div ng-message="required" class="error-msg">Oops! This field is required</div>
                            <div ng-message="compareTo" class="error-msg">Oops! It appears your passwords do not match. Please try again…</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <pre>
                {{conPassform.conNewPassword.$error}}
            </pre>
            -->
           <!-- ng-disabled="conPassform.$pristine || conPassform.$error.required || conPassform.$error.compareTo"-->
            <button type="submit" class="btn btn-default btn-primary">Save</button>
            <a class="btn btn-default" ng-href="{{homeUrl}}/my-profile">Cancel</a>
        </form>
    </div>
</div>