
<div class="book-new-del-choose-timeslot-container clearfix">
    <div class="row">
        <div class="col-lg-4 col-md-5">

            <div class="delivery-slot-container nomargin">
                <div class="project-overlay" ng-if="tsProcess">
                    <!--<div class="load-text">Loading...</div>-->
                    <!--<div class="fa fa-spinner fa-spin fa-3x"></div>-->
                    <div><img src="images/ts-loader.GIF" alt="" class="mar-top-50"/></div>
                </div>
                <div class="delivery-slot-header">
                    1 hour delivery timeslots
                </div>

                <div class="row quote-dp-container">

                    <div class="ds-arrow">
                        <i ng-if="isPrevDisabled" class="icon icon-left-arrow enabled-dp" date-click-arrow  date-wen="prev" ></i>
                        <i ng-if="!isPrevDisabled" class="icon icon-left-arrow disabled-dp"></i>
                    </div>
                    <div class="calendar-wrap">

                        <div class="form-group" >
                            <div class='input-group date' id='timeslotDate' timeslot-date="timeslotDate" >
                                <input type='text' ng-model="timeslotDate" readonly class="form-control" />
                                <span class="input-group-addon ">
                                    <span class="icon icon-calendar"></span>
                                </span>
                            </div>
                        </div>


                    </div>
                    <div class="ds-arrow right">
                        <i ng-if="isNextDisabled" class="icon icon-right-arrow enabled-dp" date-click-arrow  date-wen="next" ></i>
                        <i ng-if="!isNextDisabled" class="icon icon-right-arrow disabled-dp" ></i>
                    </div>
                </div>

                <div class="time-slot-list-container">
                    <div class="deliverslot-footer" ng-if="dsErorrFlag">
                        <p class="text-center showmore" ng-if="dsErorrFlag && !showMoreFlag">
                            No timeslots available
                        </p>
                    </div>
                    <div ng-if="timeSlotNotAvilable" class="ts-close-msg">
                        Sorry that day seems to be really popular and all our drivers are busy. Please choose another day.
                    </div>
                    <div ng-if="storeClosedMsg" class="ts-close-msg">
                        Oops! You have previously registered this date as a holiday. You can still continue with this booking today, but you may wish to amend your holiday opening hours on your profile page for future bookings.
                    </div>
                    <!-- <pre>{{timeslotsArr}}</pre>-->
                    <ul class="time-slot-list">

                        <li  ng-repeat="timeslot in timeslotsArr| limitTo : showMorelimit" >

                            <div class="delivery-slot-radio">

                                <input type="radio" id="radioDs{{$index}}" ng-model="tsRadio.res"  ng-click="setBookNowPrice(timeslot.startTime, timeslot.endTime, timeslot.quote)" value="{{timeslot.timeslotId}}" ng-required="!tsRadio.res" name="timeSlotHr"   class="css3radio" />
                                <label  class="toggler_r" for="radioDs{{$index}}">
                                    <span id="{{timeslot.timeslotId}}"  data-start="{{timeslot.startTime}}" data-end="{{timeslot.endTime}}">{{timeslot.startTime| ISO8601Parse : "UK" : "HH:mm"}} - {{timeslot.endTime|  ISO8601Parse : "UK" : "HH:mm"}}</span>
                                </label>

                            </div>
                        </li>
                    </ul>
                </div>

            </div>


            <div class="deliverslot-footer">
                <p class="text-center showmore" ng-if="showMoreFlag"  ng-click="showMore()">
                    Show more slots
                </p>
            </div>
        </div>

        <!--<div class="col-xs-12 col-lg-8 col-md-7" ng-if="tsRadio.res.length > 0">-->
        <div class="col-xs-12 col-lg-8 col-md-7" >

            <div  class="">

                <!--<div ng-if="zone === 'within' && !subscriptions.isActive && !voucherDetails.isvoucherused " class="mar-bot-30">-->
                <div ng-if="zone === 'within' && !voucherDetails.isvoucherused" class="mar-bot-30">
                    <div class="row" >
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <label>Have you got one of our special promo codes?</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">

                            <div class="input-group voucher-group" >
                                <input type="text" class="form-control" name="voucherCode" ng-model="promo.voucherCode" ng-required="isClickedRedeemVoucher" ng-disabled="voucher.valid" placeholder="Promo code">
                                <span class="input-group-addon" ng-if="voucher.valid"><i class="fa fa-check"></i></span>
                            </div>
                            <div class="error-msg" ng-if="!promo.voucherCode && isClickedRedeemVoucher">Oops! Please enter promo code.</div>
                            <div class="error-msg" ng-if="promo.voucherCode && isClickedRedeemVoucher && !voucher.valid && voucher.status === 'ok'">Please enter valid promo code.</div>
                            <!--<div class="error-msg" ng-if="promo.voucherCode && !valid && isClickedRedeemVoucher"></div>-->
                        </div>

                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 book-now-btn-section redeem-btn-section">
                            <button class="btn btn-default" ng-click="redeemVoucher();" ng-if="!voucher.valid"><i class="icon icon-voucher"></i> Redeem</button>
                            <button class="btn btn-default" ng-click="cancelVoucher();" ng-if="voucher.valid">Cancel</button>
                        </div>
                    </div>
                </div>



                <div class="row  mar-bot-15"  ng-if="!subscriptions.isActive || zone === 'adhoc' ">
                    <div class="col-md-8 col-lg-9  mar-top-0">

                        <div class="no-timeslot-warn clearfix" ng-if="tsRadio.res.length == 0 || !tsRadio.res" >
                            <div class="no-timeslot-warn-icon-box  pull-left">
                                <i class="icon  icon-warning" ></i>
                            </div>
                            <div class="no-timeslot-war-msg-box ">
                                Choose your delivery day & time-slot to continue the booking
                            </div>
                        </div>
                        <div class="timeslot-price-details" ng-if="tsRadio.res.length > 0" >
                            <div class="mar-bot-0"><label>Total</label></div>
                            <div>
                                <label class="choose-ts-price mar-top-m-15">{{bookNowPrice| currency : "&pound;"}}</label>
                                <label class="vat-subset">({{bookNowTotal| currency:"&pound;"}} incl VAT)</label>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4 col-lg-3 reset-padding-desktop book-now-btn-section" ng-if="!isBookNowClicked">
                        <button class="btn btn-primary" ng-click="savechooseTimeslot(chooseTimeslot.$valid);">Book now</button>
                    </div>
                </div>


                <div  ng-if="subscriptions.isActive &&  zone === 'within' ">
                    <div class="row" ng-if="!voucher.valid">
                        <div class="col-md-12">
                            <div>
                                <label >Your {{subscriptions.displayname}}</label>
                                <div class="">Expires on: {{subscriptions.subscriptionenddate| ISO8601Parse : "UK" : "DD-MM-YYYY"}}</div>
                            </div>
                            <div class="subscript-summary-box  clearfix" >
                                <div class="ur-sub-big pull-left">{{subscriptions.remainingbookingsforsubscription}}</div>
                                <div class="subscribe-info-box ">Good news! You still have {{subscriptions.remainingbookingsforsubscription}} out of {{subscriptions.totalbookingsforsubscription}} deliveries left in your bundle</div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="no-timeslot-warn clearfix" ng-if="tsRadio.res.length == 0" >
                                <div class="no-timeslot-warn-icon-box  pull-left">
                                    <i class="icon  icon-warning" ></i>
                                </div>
                                <div class="no-timeslot-war-msg-box">
                                    Choose your delivery day & time-slot to continue the booking
                                </div>
                            </div>
                            <div class="timeslot-price-details" ng-if="tsRadio.res.length > 0 && voucher.valid" >
                                <div class="mar-bot-0"><label>Total</label></div>
                                <div>
                                    <label class="choose-ts-price mar-top-m-15">{{bookNowPrice| currency : "&pound;"}}</label>
                                    <label class="vat-subset">({{bookNowTotal| currency:"&pound;"}} incl VAT)</label>
                                </div>
                            </div>
                            <button class="btn btn-primary" ng-if="!isBookNowClicked" ng-click="savechooseTimeslot(chooseTimeslot.$valid);">Book now</button>
                        </div>
                    </div>
                </div>


                <div class="quote-sub-module clearfix" ng-if="!subscriptions.isActive && zone !== 'adhoc'">


                    <div class="row  mar-bot-30">
                        <div class="col-md-12" >
                            <div class="or-line-border">
                                <div class="or-line-circle">OR</div>
                            </div>
                        </div>
                    </div>

                    <div class="y-not-buy">Why not buy one of our money-saving bundles?</div>
                    <div class="y-not-exp">Just make sure to use them within 6 months or they expire.</div>
                    <div class="subscript-box clearfix">
                        <div class="error-msg" ng-if="isBuyBundleBook && !subscription.bundle">Oops! Please select the bundle</div>
                        <ul ng-repeat="data in subscriptions">
                            <li class="clearfix">

                                <div class="row">
                                    <div class="col-xs-7 col-sm-8 col-md-8">

                                        <input type="radio" name="subscription"  ng-model="subscription.bundle"  id="radioss{{$index}}"  class="css3radio"   value={{data.subscriptionname}}>

                                        <label  class="sub-offer toggler_r" for="radioss{{$index}}">
                                            <span class="offer-label">{{data.displayname}}</span>
                                        </label>

                                        <div class="quote-sub-mes">
                                            <!--{{data.jobtotal| currency:"&pound;"}} for {{data.noofdeliveries}} deliveries ({{data.subscriptiondetails| currency:"&pound;"}} per delivery)-->
                                            <div>
                                                <p>{{data.subscriptiondetails}}</p>
                                                <p>{{data.specialdescription}}</p>
                                            </div>
                                            <!--<p>-->
                                            <!--( <span>{{data.cost/data.noofdeliveries}} </span> per delivery)-->
                                            <!--</p>-->
                                        </div>

                                    </div>
                                    <div class="col-xs-5 col-sm-4 col-md-4">
                                        <div class="bundle-price-section" >
                                            <label  class="quote-sub-amt" >{{data.cost| currency:"&pound;"}}</label>
                                            <p class="vat-details">({{data.jobtotal| currency:"&pound;"}} incl VAT)</p>
                                        </div>
                                    </div>
                                </div>


                            </li>

                        </ul>
                        <div>
                            <div class="mar-bot-10">



                                <input type="checkbox" id="checkboxTermsCond" name="chkTermsCond" class="css3checkbox" ng-model="chkTermsCond"  />
                                <label class="toggler" for="checkboxTermsCond" >
                                    <div class="check-sub-text">I accept the On the dot <a href="terms-and-conditions" target="_blank">terms and conditions</a></div>
                                </label>

                                <div class="error-msg" ng-if="isBuyBundleBook && !chkTermsCond">Oops! Please confirm that you have accepted our terms and conditions</div>
                            </div>
                            <button class="btn btn-primary mar-right-15" ng-click="paymentPage(chkTermsCond && chooseTimeslot.$valid)">Buy a bundle and book</button>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>