/*get in touch*/
h2.getintuch-sub-title {
  font-family: 'source_sans_probold';
  letter-spacing: -1px;
  font-size: 28px;
  color: #43B02A;
  margin: 0 0 15px 0;
}


.getintuch-btns {
  padding-left: 0px;
  margin-bottom: 30px;
}

.getintuch-btns button {
  margin-right: 10px;
}


.getintuch p{
  font-size:22px;
  margin-bottom:20px !important;
}
.getintuch a{
  color:#686868;
}
.getintuch  h5{
  margin-bottom:10px !important;
  color:#686868;
  font-size:22px;
}
