<!--<form id="modal-get-quote-notification" class="form" role="form" novalidate name="getQuoteNotification">
    <div class="modal-body medium-modal-body">
        <div class="medium-modal-container clearfix">
            <div class="col-md-2 col-xs-2 ret-warn-container">
                <i class="col-xs-offset-2 col-md-offset-2 fa fa-exclamation-triangle retailer-distance-warning"></i>
            </div>
            <div class="col-md-offset-1 col-md-8 col-md-pull-1 col-xs-offset-1 col-xs-8 col-xs-pull-1 retailer-distance-text">
                <p>We are not there yet !</p>
                <p class="retailer-distance-info-text">We are working hard to get there. Sorry for the inconvenience caused.</p>
            </div>
        </div>

        <div class="medium-modal-sub-container clearfix">
            <div class="col-md-offset-3 col-md-8 col-md-pull-1 col-xs-offset-3 col-xs-8 col-xs-pull-1 retailer-distance-text">
                <p class="retailer-distance-info-text">
                    Please provide your email address to receive notifications message when <span class="notify-strong">"SERVICE AVAILABLE"</span> to your requested address.
                </p>
                <div ng-class="{'has-error': (addRetailers.$submitted && getQuoteNotification.userEmail.$invalid ) || ( getQuoteNotification.userEmail.$touched  && getQuoteNotification.userEmail.$invalid ) }">
                    <input type="email" class="form-control" name="userEmail" ng-model="userEmail" placeholder="Enter email address" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" required >
                </div>

                <div ng-if="(addRetailers.$submitted || (getQuoteNotification.userEmail.$touched  && getQuoteNotification.userEmail.$invalid))" ng-messages="getQuoteNotification.userEmail.$error" ng-messages-include='views/error-messages.html'>
                    <div ng-message="pattern" class="error-msg" id="divCommError">Please enter a valid email address</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-offset-2  col-md-10 col-xs-offset-2  col-xs-10 text-left medium-modal-footer-btn">
                <button class="btn btn-primary btn-medium-modal" ng-disabled="getQuoteNotification.$invalid" ng-click="quoteNotifySubmit()"> SUBMIT </button>
                <button class="btn btn-primary btn-medium-modal" ng-click="retDistHideModal()"> CLOSE  </button>
            </div>
        </div>
    </div>
</form>-->
<div class="modal-header alert-header">        
    <div class="row">
        <div class="col-md-3 col-xs-3 alert-icon reset-padding-right">
           <div class="icon icon-onthedot-icons-13 color-red"></div>                   
        </div>
        <div class="col-md-9 col-xs-9 reset-padding-left">
            <h1 class="modal-main-title">Sorry!<br> We are not there yet</h1>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="changeHidemodal()"><span class="icon icon-clear" ></span></button>
    </div>
    
</div>

<form id="modal-get-quote-notification" class="form" role="form" novalidate name="getQuoteNotification">
    <div class="modal-body alert-body">
       <div class="row">
            <div class="col-md-3 col-xs-3 alert-icon reset-padding-right">                          
            </div>
            <div class="col-md-9  col-xs-9 reset-padding-left">
                <p>Please provide your email address so that you can be the first to know when we are delivering to your postcode.</p> 
                <div ng-class="{'has-error': (addRetailers.$submitted && getQuoteNotification.userEmail.$invalid ) || ( getQuoteNotification.userEmail.$touched  && getQuoteNotification.userEmail.$invalid ) }">
                    <input type="email" class="form-control" name="userEmail" ng-model="userEmail" placeholder="Email address" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" required >
                </div>

                <div ng-if="(addRetailers.$submitted || (getQuoteNotification.userEmail.$touched  && getQuoteNotification.userEmail.$invalid))" ng-messages="getQuoteNotification.userEmail.$error" ng-messages-include='views/error-messages.html'>
                    <div ng-message="pattern" class="error-msg" id="divCommError">Please enter a valid email address</div>
                </div>               
            </div>
            
        </div>
    </div>
    
    <div class="modal-footer alert-footer go-right-modal-btn">
        <div class="row">
            <div class="col-xs-1 col-sm-3 col-md-3 alert-icon reset-padding-right">                          
            </div>
            <div class="col-xs-11 col-sm-9 col-md-9 reset-padding-left">
                <button class="btn btn-primary btn-medium-modal" ng-disabled="getQuoteNotification.$invalid" ng-click="quoteNotifySubmit()">Submit</button>
                <button class="btn btn-primary btn-medium-modal" ng-click="retDistHideModal()">Close</button>
            </div>
        </div>
    </div>
</form>


