<h2 class="page-sub-title">Store opening hours</h2>
<div class="opening-hours manual">    
    <div class="row section">
        <div class="button-fleft">
            <a class="btn btn-default" ng-href="{{homeUrl}}/edit-profile/store-opening-hours">Edit</a>
        </div>
        <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"><strong>Monday</strong><br>{{storeOpeningHoursMonday}}</div>
        <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"><strong>Tuesday</strong><br>{{storeOpeningHoursTuesday}}</div>
        <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"><strong>Wednesday</strong><br>{{storeOpeningHoursWednesday}}</div>
        <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"><strong>Thursday</strong><br>{{storeOpeningHoursThrusday}}</div>
        <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"><strong>Friday</strong><br>{{storeOpeningHoursFriday}}</div>
        <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"><strong>Saturday</strong><br>{{storeOpeningHoursSaturday}}</div>
        <div class="item last col-xs-6 col-sm-4 col-md-3 col-lg-2"><strong>Sunday</strong><br>{{storeOpeningHoursSunday}}</div>
    </div>
</div>
