div.content{
  border: 1px solid red;
  width:auto;
  height: auto;
  min-width: 500px;
  min-height: 500px;
}

div.preview{
  margin-top: 10px;
  border: 1px solid green;
  width:auto;
  height: auto;
  min-width: 500px;
  min-height: 500px;
}