
/* My profile Page CSS Begin */
.upload-ur-photo{
  border:1px solid $photo-blue;
  width: 200px;
  height: 200px;
  text-align: center;
}


.upload-ur-photo-update{
  border:1px solid $photo-blue;
  background: $photo-blue;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  border-radius: 0px 0px 8px 8px;
}

.upload-ur-photo-error-section{
  width: 200px;
  padding-top: 10px;
}

img.thumb{
  width:198px;
  /*height:198px;*/
}

.upload-ur-photo .my-browse{ 
  border:1px solid green;
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.upload-ur-photo-update .my-browse-edit{
  /*
  border:1px solid green;
  width: 10px;
  height: 15px;
  position: relative;
  z-index: 2;
  opacity: 0;
  cursor: pointer;*/
  width: 23px;
  height:10px;
  position: absolute;
  top: -2px;
  left: 111px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;

}
.edit-browse-input{
  position:relative;
  width: 24px;
  height: 15px;
  cursor: pointer;
  /*border: 1px solid red;*/
}


.profile-img-edit-icon,
.profile-img-delete-icon {
  position: absolute;
  top: 201px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.profile-img-edit-icon{
  left: 130px;
}

.profile-img-delete-icon{
  left: 175px;
  z-index: 2;
}


/*
.profile-img-del-icon{
  position: absolute;
  left: 205px;
  top: 200px;
  cursor: pointer;
}
*/


.upload-ur-photo-mes{
  width: 200px;
  height: 200px;
  cursor: pointer;
  position: absolute;
  top: 45px;
  z-index: 0;
  color:$photo-blue;
  .fa-plus-circle{
    font-size: 50px;
  }

}



.upload-ur-photo-mes-progress{
  width: 200px;
  height: 200px;
  cursor: pointer;
  position: absolute;
  top: 60px;
  z-index: 0;
}

.upload-ur-photo-mes-progress i{
  font-size:60px;
}



.gray-line{
  margin-left: 22%;
  width: 78%;
  margin-top: -10px;
}

.my-profile-container input,
.my-profile-container select {
  /*background: #efefe0;*/
}

.check-sub-text{
  font-weight: normal;
}
.check-profile-container{
  padding-top: 5px ;
  padding-bottom: 5px ;
}

ul.profile-nav{
  list-style: none;
  margin-top: 20px;

}
ul.profile-nav li{
  padding: 10px;
}
.profile-nav-container{
  padding-right: 0px;
}

li.profile-active {
  background: #fff;
}
.fa-plus-circle{
  font-size: 50px;

}

.phone-ex{
  font-size: 12px;
  font-style: italic;
  color: #999;
}

.myprof-phone .ur-collection-err-icon {
    font-size:20px;
}
.myprof-phone .error-msg {margin:0;}

.mobile-icon{
  font-size: 75px;
  color: #49b5cc;
  font-weight: bold;
}

@media only screen and (max-width : 320px) {
  .mobile-icon{
    font-size: 60px;
  }
}

a.gen-new-pin{
  color: #49b5cc;
  cursor: pointer;
  text-decoration: underline;
  i{
    text-decoration: none;
  }
}

a.gen-new-pin-disable{
  opacity:.4;
  cursor: none;
  &:hover{
   opacity:.4;
  }

}

.form-page.inner-page {margin-top: 0;}
.my-profile .row.section {margin-bottom:45px;}
.my-profile h2 {margin-bottom:15px;}
.my-profile .row.section h2 {margin-top:0}
.my-profile .row.section h5 {font-size:14px; font-weight:600; margin:0 0 4px 0; color:#676767;}
.my-profile .row.section p.para {color:#676767; font-size:14px; margin-bottom:15px; font-weight:400; line-height:18px; word-wrap: break-word;}
.my-profile .row.section p.para.last {margin-bottom:0}
.my-profile .row.section p.para {color:#777777;}
.my-profile .element {font-size:14px; display:block; margin:8px 0;}
.my-profile .element.nomargin {margin:0;}
.my-profile .element.mar-bot-min {margin-bottom:3px;}
.my-profile .element i {margin-right:8px; vertical-align:text-bottom; line-height:100%;}
.my-profile .icon-wrapper {float:none; display:inline-block; margin-right:0}
.my-profile .myprof-phone .error-msg {vertical-align: super;}

.photo {
    border: 1px solid #f3f3f3;
    width: 170px;
    height: 170px;
    vertical-align: middle;
    text-align: center;
    line-height: 170px;
}
.photo img {
    max-height: 100%;
    max-width: 80%;
}
.dz-edit {
position: absolute;
bottom: -8px;
left: 62px;
}

.no-image {font-size:54px; font-weight:normal; color:#f1f1f1;}

.opening-hours .item {border-right:1px solid #f0f0e1; margin-bottom:25px; min-height:45px;}
.opening-hours .item.last {border:none;}
.opening-hours .item strong {font-weight:600; padding-bottom:2px; display:inline-block;}
.opening-hours.manual .item {max-width:130px;}

.opening-hours {position:relative;}


.my-profile .button-fleft{position:absolute; right:15px; top:0; z-index:999;}
.my-profile .validated {color:#43B02A; margin-top:5px; display:inline-block;}
.company-info {border-right:1px solid #f0f0e1; padding-right:30px;}

.my-profile .opening-hours.manual .button-fleft, .opening-hours.manual1 .button-fleft{right:0 !important;}
.my-profile .photo {max-width:100%;}

/*above 1199px*/
@media screen and (min-width: 1199px){
    .opening-hours.manual1 .item {width:15%;}
    .opening-hours.manual1 .item:nth-child(7) {border-right:none;}
}

/*below 991px*/
@media screen and (max-width: 991px){
    /*.my-profile .row.section, .my-profile h2 {padding:0 15px;}*/
    .my-profile .photo {margin-bottom:20px; max-width:100%; line-height:inherit; height:inherit;}
    .my-profile .button-fleft{position:absolute; right:15px; top:-40px;}    
    /*.opening-hours.manual1 .item:nth-child(4n) {border-right:none;}*/   
    
}

/*btw 768 and 991px*/
@media screen and (min-width: 768px) and (max-width: 991px){
    .opening-hours.manual1 .item {width:30%;}
    .opening-hours.manual .item:nth-child(6) {border: none}
}
@media screen and (max-width: 767px){
    .my-profile .button-fleft {right:30px !important;}
    .my-profile .opening-hours.manual .button-fleft, .opening-hours.manual1 .button-fleft {right: 15px !important;}
    .address-info {margin-top:20px;}
    .opening-hours.manual .item {max-width:inherit;}
    
    .item:nth-child(2n) {clear:left;}
    .opening-hours.manual1 .item:nth-child(3n) {}
}
/* My profile Page CSS End */
