
/******************************************************************/
/* Colors Variable Begin*/
$ui-container-background-color:                #FBFBFB !default;


/* Utility color variable Begin */
$main-title :                                  #024C8B !default;
$sub-title :                                   #86CDDC !default;
$check-box-border:                             #4AB5CC !default;
$error-color:                                  #a94442 !default;
$blue-bg:                                      #4fc6dd !default;
$white-color:                                  #ffffff !default;

/* Utility color variable End */


/* Main color variable Begin */
$strong-blue:                                  #034D8B !default;
/*  Main color variable End */

/* My profile color variable Begin */
$photo-blue:                                   #52CAE3 !default;
/* My profile color variable End */


/* Subscription color variable Begin */
$upgrade-bg-brdr-color:                        #f6f6ed !default;
$upgrade-price-title-panel-color:              #dfdfd0 !default;
$upgrade-list-title-color:                     #b6b6aa !default;
$upgrade-list-content-color:                   #9D9D9A !default;
/* Subscription color variable End */

/* Delivery Zone color variable Begin */
$retailer-distance-text:                       #818173 !default;
$retailer-distance-warn-icon-color:            #FFB300 !default;
/* Delivery Zone color variable End */

/* Modal color variable Begin */
$modal-header-color:                            #4179A8 !default;
/* Modal color variable End */

/* Your Quote color variable Begin */
$your-quote-collect-head-quote-mes:             #B8B8AE !default;
$your-quote-sub-header:                         #9B9B92 !default;
$your-quote-border:                             #ccc    !default;
$your-quote-steps-circle1:                      #A1D600 !default;
$your-quote-steps-circle2:                      #4FC6DD !default;
$your-quote-steps-circle3:                      #F0F0E1 !default;
$your-quote-ds-radio-active-bg:                 #EEEEE7 !default;
$your-quote-header-blue:                        #29689C !default;
$your-quote-circle-bg:                          #fafafb !default;
$your-quote-amt:                                #85B200 !default;
$your-quote-subscription:                       #f6f6f6 !default;
/* Your Quote color variable End */

/* My delivery color variable Begin */
$grid-th-tr-color:                               #A6E2EF !default;
$action-icon-color:                              #49B5CC !default;

/* social Share buttons color */
$facebook-botton:                               #3B5998 !default;
$twitter-botton:                                #2daddc !default;
/* Your Quote color variable End */

/* New UI Variables Begin */
$app-orange:                                    #ED8B00 !default;
$app-red:                                       #E83624 !default;
$app-green:                                     #43B02A !default;
/* New UI Variables End */

$app-white:#FFFFFF;
$border-color:#f6f6ec !default;

$testcolor : green;
$tes-sub-title-tcolor : #686868;









