
<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">About Us</h1>
            <div class="row">
                <div class="col-lg-8">
                    <p class="para">Retailers are always looking for new ways to improve their shopping experience and make their customers’ lives easier. And shoppers are tired of not being in control of their deliveries. People who are forced to wait in all day for their goods will vote with their feet (and their clicks).</p>
                    <p class="para">We live in a 24/7 world. If we choose, we can do our banking at midnight, the weekly shop from our smartphone or pick a new outfit from our office desk. So having no choice but to stay in for an entire day waiting for a package just isn’t acceptable any more.</p>
                    <p class="para">In response to this increased need for flexibility, CitySprint has launched On the dot – a new type of delivery service that lets customers choose specific 1 hour timeslots to receive their packages.</p>
                    <p class="para">The service is backed by CitySprint’s established, reliable and flexible infrastructure. This includes its fully verified and background-checked fleet.</p>
                            
                    <h5 class="page-sub-title hidden-content">Bullet point list</h5>
                    <ul class="dash">
                        <li>CitySprint operate 40 wholly-owned interconnected service centres across the UK combining national coverage with local customer service.</li>
                        <li>Over 87% of the UK population can be reached by the CitySprint delivery network within 60 minutes</li>
                        <li>With over 3,000 GPS-enabled couriers - all couriers are fully trained and uniformed with ID badges</li>
                        <li>CitySprint have a strict selection criteria for all their couriers, including a full employment history and regular driving licence, insurance and vehicle checks</li>
                    </ul>               
                </div>
                <div class="col-lg-4 hero-content">
                    <p class="para head nomargin-top"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}/where-we-deliver">Where we deliver</a></li>
                        <li><a ng-href="{{homeUrl}}/what-it-costs">What it costs</a></li>
                        <li><a ng-href="{{retailerHomeUrl}}">Are you a retailer?</a></li>
                        <li><a ng-href="{{homeUrl}}/how-it-works">How it works</a></li>
                        <li><a ng-href="{{homeUrl}}/faqs">FAQs</a></li>
                        <li><a ng-href="{{homeUrl}}/get-in-touch">Get in touch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>