<div class="container" apply-bg>
    <div class="full-ui-container booking-conf">
        <div class="form-group">
            Thank you, your order has been placed.
            <p> An email confirmation has been sent to you.</p>
        </div>
        <div class="form-inline mobile-device-billing-1">
            <div class="well col-md-7 booking-well">
                <div class="form-inline col-md-12">

                    <div class="form-group col-md-4">
                        <p>ORDER NO:</p>
                        <strong>130-9879766-2345786</strong>
                    </div>
                    <div class="form-group col-md-4">
                        <p>PICKUP TIME:</p><strong>14:30-16:00</strong>
                    </div>
                    <div class="form-group col-md-4">
                        <p>DELIVERY TIME:</p><strong>16:30-17:00</strong>
                    </div>
                </div>
                <div class="form-inline col-md-12">
                    <div class="form-group col-md-4">
                        <p>TOTAL AMOUNT:</p><strong class="book-amount">&#163; 6.79</strong>
                    </div>
                    <div class="form-group col-md-4 book-adrr">
                        <p>COLLECT FROM:</p><strong class="book-adrr">HA11JU<br>
                            150, Edgeware Rd, <br>Marble Arch, London w2 2DS</strong>
                    </div>
                    <div class="form-group col-md-4 book-adrr">
                        <p>DELIVER TO:</p><strong>HA11JU<br>
                            150, Edgeware Rd, <br>Marble Arch, London w2 2DS</strong>
                    </div>
                </div>

                <div class="form-inline col-md-12">
                    <div class="row">
                        <div class="form-group col-md-12 pull-right">
                            <button class="btn pull-right" ng-click="saveAddress()">Save This</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-inline">
                    <div class="form-group">
                    </div>
                </div>
            </div>
            <div class="well col-md-4 booking-well-share">
                <div class="form-group col-md-12">
                    Share your order
                </div>
                <div class="form-inline">
                    <div class="form-group col-md-12">
                        <strong>I Just brought the silver Subscription   from Mydeliver.</strong>
                    </div>
                    <div class="form-group col-md-12">
                        We understand the ever changing demands on our modern healthcare service and the need to provide quality patient care cost effectively. We have a wealth of logistics and distribution experience, developed over the last 25 years, servicing the hospital and pharmaceutical sectors. 
                    </div>
                </div>
                <div class="form-inline col-md-12">
                    <div class="form-group col-md-6">
                        <button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Share This</button>
                    </div>
                    <div class="form-group col-md-6">
                        <button class="btn btn-twitter"><i class="fa fa-twitter"></i> | Share This</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="form-inline mobile-device-billing">
            <div class="well col-md-7 booking-well">
                <div class="form-inline col-md-12">


                    <div class="form-group">
                        <p>TOTAL AMOUNT:<span class="book-amount"> &#163; 6.79</span></p>
                    </div>
                    <div class="form-group">
                        <p>ORDER NO: 130-9879766-2345786</p>
                    </div>
                    <div class="form-group">
                        <p>PICKUP TIME:14:30-16:00</p>
                    </div>
                    <div class="form-group">
                        <p>DELIVERY TIME:16:30-17:00</p>
                    </div>
                </div>
                <div class="form-inline col-md-12">

                    <div class="form-group book-adrr">
                        <p>COLLECT FROM:<span class="book-adrr">HA11JU
                                150, Edgeware Rd, Marble Arch, London w2 2DS</span></p>
                    </div>
                    <div class="form-group book-adrr">

                        <p>DELIVER TO: <span class="book-adrr">HA11JU
                                150, Edgeware Rd, Marble Arch, London w2 2DS</span></p>
                    </div>
                </div>

                <div class="form-inline col-md-12">
                    <div class="row">
                        <div class="form-group col-md-12 pull-right">
                            <button class="btn pull-right"  ng-click="saveAddress()">Save This</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-inline">
                    <div class="form-group">
                    </div>
                </div>
            </div>
            <div class="well col-md-4 booking-well-share">
                <div class="form-group col-md-12">
                    Share your order
                </div>
                <div class="form-inline">
                    <div class="form-group col-md-12">
                        <strong>I Just brought the silver Subscription   from Mydeliver.</strong>
                    </div>
                    <div class="form-group col-md-12">
                        We understand the ever changing demands on our modern healthcare service and the need to provide quality patient care cost effectively. We have a wealth of logistics and distribution experience, developed over the last 25 years, servicing the hospital and pharmaceutical sectors. 
                    </div>
                </div>
                <div class="form-inline col-md-12">
                    <div class="form-group col-md-6">
                        <button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Share This</button>

                        <button class="btn btn-twitter"><i class="fa fa-twitter"></i> | Share This</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-7 pull-left form-inline">
            <div class="form-group col-md-7 pull-left">
                <button class="btn btn-blue" ng-click="orderPrnt();"> Print</button>
                <button class="btn btn-cancel" ng-click=""> Close</button>
            </div>
            <div class="form-group col-md-6">
            </div>
        </div>

    </div>

</div>  