
<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">What are cookies?</h1>
            <div class="row">
                <div class="col-lg-8">
                    <p class="para">When we provide services, we want to make them easy, useful and reliable. Where services are delivered on the internet, this sometimes involves placing small amounts of information on your device (eg computer or mobile phone). These include small files known as cookies.</p>   
                    <div class="row">
                        <div class="col-lg-12 cookies-tbl">
                            <h5 class="page-sub-title">Can I opt out of cookies?</h5>
                            <p class="para">We use cookies based on your 'implied consent', which means that if you continue to use our website, we assume you are happy for us to set cookies. It you are  not then there are a number of things you can do.</p>                               
							<p class="para">You can set your web browser (eg Chrome, Firefox, Internet Explorer etc) to reject all cookies; allow only 'trusted' sites to set them; or to accept cookies from websites only for the duration of your visit. Your browser's 'help' option will tell you how. However, please be aware that if you choose to delete or restrict cookies, some features of our website may not work.</p>
							<h5 class="page-sub-title">The cookies we use:</h5>
							<div class="table-responsive">
                                <table class="table table-bordered">
                                   <thead>
                                      <tr>
                                        <th width="20%">Used By</th>
                                        <th width="20%">Name</th>
                                        <th width="25%">Expiry Date</th>
                                        <th width="30%">Displays relevant cookie information for the website.</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                      <tr>
                                        <td><strong>secure.onthedot.co.uk</strong></td>
                                        <td>samlssoRememberMe</td>
                                        <td>Validity – 14 days 
                                        <span class="mar-bot-10 mar-top-10 block">or</span> 
                                        If the user does a logout in our application
                                        </td>
                                        <td>This cookie is used to track if the user has chosen the ‘remember me’ option during login and for auto login the next time he clicks ‘Login’</td>
                                      </tr>
                                      <tr>
                                        <th rowspan="3">On the dot</th>
                                        <td>samlssoTokenId</td>
                                        <td>Session - when you close the browser</td>
                                        <td>This cookie is used for session management and federated login</td>
                                      </tr>
                                      <tr>
                                        <td>User</td>
                                        <td>Session- when you close the browser</td>
                                        <td>This cookie is used to store the user’s email ID</td>
                                      </tr>
                                      <tr>
                                        <td>JSESSIONID</td>
                                        <td>Session- when you close the browser</td>
                                        <td>This cookie is used for session management</td>
                                      </tr>
                                    </tbody>						   
                                </table>
                            </div>
                        </div>                        
                    </div>                 
                </div>
                <div class="col-lg-4 hero-content">
                    <h2 class="page-sub-title">Want to see our full terms &amp; conditions?</h2>
                    <p class="para"><strong>You can read all of our <a ng-href="{{homeUrl}}/terms-and-conditions">terms &amp; conditions</a> in detail here or check out our <a ng-href="{{homeUrl}}/privacy-policy">privacy policy</a> here</strong></p>
                    <p class="para head nomargin-top"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}">Shopper homepage</a></li>
                       <li><a ng-href="{{retailerHomeUrl}}">Retailer homepage</a></li>
                        <li><a ng-href="{{homeUrl}}/get-in-touch">Get in touch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>