<div class="container aboutus faq padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">Frequently Asked Questions</h1>            
            <div class="row">
                <div class="col-lg-8">
                    <p class="para head">
                        <strong>Integration with our open API</strong>
                    </p>
                    <accordion close-others="oneAtATime" class="" >
                        <accordion-group class="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFirstOpen, 'fa-chevron-circle-down': !status.isFirstOpen}"></i>Can I offer 1 hour delivery windows?
                            </accordion-heading>
                            <p class="para">Yes, via our open API, we can integrate very easily with your existing e-commerce and EPOS systems for both online and in-store shopping. This integration allows you to present real-time, dynamic time slot availability to your customers.</p>
                        </accordion-group>
                        <accordion-group is-open="status.isSecondOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFirstOpen, 'fa-chevron-circle-down': !status.isFirstOpen}"></i>How do I integrate?
                            </accordion-heading>
                            <p class="para">We’ve made the process as simple as possible. Our open API is available in many popular programming languages and has been designed in a RESTful way, so it’s really easy to integrate into your e-commerce website and/or your in-store EPOS systems. Once installed, you will be able to receive and display dynamic timeslot availability and pricing as well as live track deliveries from store to door using our GPS technology. </p>
                            <p class="para">To get started, ask us for an <a ng-href="{{homeUrl}}/get-in-touch-retailer" class=""> activation key</a>. You will then be able to copy and paste our sample code into your existing IT platforms to expedite the integration into your chosen environment.</p>

                        </accordion-group>
                        <accordion-group is-open="status.isThirdOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFirstOpen, 'fa-chevron-circle-down': !status.isFirstOpen}"></i>Why would I integrate?
                            </accordion-heading>
                            <p class="para">On the dot enables you to give your customers the ultimate in delivery choice and convenience:</p>
                            <ul class="dash">
                                <li>Revolutionises the customer experience and empowers the customer</li>
                                <li>Increases online conversions and average basket value</li>
                                <li>Enhances customer satisfaction and loyalty</li>
                                <li>Delivers a competitive advantage</li>                  
                            </ul>
                            <p class="para">What’s more, it’s free and easy to integrate into your existing e-commerce and EPOS</p>
                        </accordion-group>
                        <accordion-group is-open="status.isFourthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFirstOpen, 'fa-chevron-circle-down': !status.isFirstOpen}"></i>What are the costs to me?
                            </accordion-heading>
                            <p class="para">There is no cost to use our technology. We have deliberately built our API platform to minimise any development time required by you.</p>
                            <p class="para">In terms of the delivery service, we agree a suitable charging structure with you, taking into account your fulfilment model, customer base and volumes.</p>

                        </accordion-group>
                        <accordion-group is-open="status.isFifthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFirstOpen, 'fa-chevron-circle-down': !status.isFirstOpen}"></i>Where is the service operating?
                            </accordion-heading>
                            <p class="para">The service is available throughout the UK in most major cities and towns. We would work with you to determine where you would like to offer the service taking into account your fulfilment model, customer base and volumes.</p>
                        </accordion-group>
                        <accordion-group is-open="status.issixthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFirstOpen, 'fa-chevron-circle-down': !status.isFirstOpen}"></i>When is this available?
                            </accordion-heading>
                            <p class="para">Our API platform will be available from summer 2015. Please email at <a href="mailto:info@onthedot.co.uk">info@onthedot.co.uk</a> for further information.</p>

                        </accordion-group>
                    </accordion>

                    <p class="para head mar-top-20">
                        <strong>onthedot.co.uk – our consumer offering</strong>
                    </p>
                    <!--<div class="mar-top-20">-->
                    <!--<h2 class="page-sub-title">onthedot.co.uk – our consumer offering</h2>-->
                    <!--</div>-->

                    <accordion close-others="oneAtATime" class="" >
                        <accordion-group class="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFirstOpen, 'fa-chevron-circle-down': !status.isFirstOpen}"></i>What is onthedot.co.uk?
                            </accordion-heading>
                            <p class="para">On the dot is a new type of service all about the joy of receiving what you want, when you want it. Instead of your customers waiting in all day for something to arrive, we guarantee it will be with them in a 1 hour delivery window of their choice. Customers simply purchase their shopping online using Click & Collect, or buy in-store or over the phone and then organise a collection directly with onthedot.co.uk.</p>
                        </accordion-group>
                        <accordion-group is-open="status.isSecondOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isSecondOpen, 'fa-chevron-circle-down': !status.isSecondOpen}"></i>How do I sign up to onthedot.co.uk?
                            </accordion-heading>
                            <p class="para">Signing up is easy. There is no cost to you as a retailer and no fiddly integration required. Simply call the team on <span class="tel">0844 700 6911</span> or email us at <a ng-href="{{homeUrl}}/mailto:signup@onthedot.co.uk">signup@onthedot.co.uk</a> for more information.</p>

                        </accordion-group>
                        <accordion-group is-open="status.isThirdOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isThirdOpen, 'fa-chevron-circle-down': !status.isThirdOpen}"></i>What do you need from me to sign up to onthedot.co.uk?
                            </accordion-heading>
                            <p class="para">All we need is confirmation that you will allow On the dot to collect on behalf of your customers and permission for us to use your logo on our website. This way, you’re more visible to customers, who can see which retailers are registered with us.</p>

                        </accordion-group>
                        <accordion-group is-open="status.isFourthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFourthOpen, 'fa-chevron-circle-down': !status.isFourthOpen}"></i>Does this involve any integration or cost for me as a retailer?
                            </accordion-heading>
                            <p class="para">No, there is no cost and integration – the consumer books and pays us directly. We just need you to allow us to pick up on their behalf. If you want to offer the service directly to your customers (as On the dot or as a white labelled service), you can integrate seamlessly via our open API into your e-commerce website or EPOS system.<a ng-href="{{homeUrl}}/integration-with-our-open-api" class=""> Find out more</a></p>

                        </accordion-group>
                        <accordion-group is-open="status.isFifthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFifthOpen, 'fa-chevron-circle-down': !status.isFifthOpen}"></i>What are the benefits to me?
                            </accordion-heading>
                            <p class="para">Be part of the delivery revolution – give your customers control over their deliveries. onthedot.co.uk lets you offer your customers 1 hour delivery timeslots, with no integration or set up costs.</p>
                            <p class="para">This makes it easier and more convenient for customers to buy from you, a clear advantage when it comes to standing out in a crowded marketplace.</p>
                            <p class="para">onthedot.co.uk helps independent retailers offer an innovative, added value service with no transactional delivery cost to you, as the consumer arranges and pays for the delivery directly with On the dot.  It levels the playing field with larger retailers.</p>
                            <p class="para">It also helps high street retailers alleviate the strain on Click &amp; Collect services during peak periods, reducing parcel hold times.</p>
                            <p class="para">The service is brought to you by CitySprint’s established, reliable and flexible infrastructure. This includes its fully verified and background checked fleet. Plus, once you’re on our website as a partner retailer, you’re more visible to potential customers.
                            </p>

                        </accordion-group>
                        <accordion-group is-open="status.issixthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.issixthOpen, 'fa-chevron-circle-down': !status.issixthOpen}"></i>Where is onthedot.co.uk available?
                            </accordion-heading>
                            <p class="para">onthedot.co.uk is available in a number of London postcodes but will soon be rolled out nationwide.</p>

                        </accordion-group>
                    </accordion>
                </div>

                <div class="col-lg-4 hero-content">
                    <h2 class="page-sub-title">Wanted our FAQs for customers?</h2>
                    <p class="para"><strong>We have a whole load of FAQs for consumers using onthedot.co.uk to book their deliveries. <a ng-href="{{homeUrl}}/faqs" class="">Find out more</a></strong></p>
                    <p class="para head"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}">Home</a></li>  
                        <li><a ng-href="{{homeUrl}}/are-you-a-retailer">Retailer homepage</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>    
</div>