<div class="container aboutus faq padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">Frequently Asked Questions</h1>            
            <div class="row">
                <div class="col-lg-8">
                    <p class="para head">
                        <strong>onthedot.co.uk – for shoppers</strong>
                    </p>
                    <accordion close-others="oneAtATime" class="" >
                        <accordion-group class="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFirstOpen, 'fa-chevron-circle-down': !status.isFirstOpen}"></i>What is On the dot?
                            </accordion-heading>
                            <p class="para">On the dot is a brand new service that delivers around you. It allows you to choose a 1 hour delivery timeslot, so that you don’t have to reschedule your day to wait in for a delivery.</p>
                        </accordion-group>
                        <accordion-group is-open="status.isSecondOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isSecondOpen, 'fa-chevron-circle-down': !status.isSecondOpen}"></i>How does it work?
                            </accordion-heading>
                            <p class="para">
                                You buy your items online, in-store or over the phone at your favourite retailers. Then you book your collection with onthedot.co.uk and choose your preferred 1 hour delivery timeslot. After that, you simply leave the rest to us. 
                            </p>
                            <p class="para">
                                You can even live track your stuff from collection right to your front door and we’ll send you email notifications along the way.
                            </p>
                            <p class="para">
                                For more details, see <a ng-href="{{homeUrl}}/how-it-works">How it works.</a>
                            </p>

                        </accordion-group>
                        <accordion-group is-open="status.isThirdOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isThirdOpen, 'fa-chevron-circle-down': !status.isThirdOpen}"></i>When can I use On the dot?
                            </accordion-heading>
                            <p class="para">Any time you want something delivered, but don’t want the hassle of guessing when it might arrive. On the dot is here to make things better by giving you back control over when your shopping is delivered. And we make it really easy for you, because it shouldn’t be hard to get your stuff to your door at a time that suits you.</p>
                            <p class="para">Even better, we only ask that you are in to receive your delivery during your chosen 1 hour timeslot.</p>

                        </accordion-group>
                        <accordion-group is-open="status.isFourthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFourthOpen, 'fa-chevron-circle-down': !status.isFourthOpen}"></i>Isn’t Click &amp; Collect the answer?
                            </accordion-heading>
                            <p class="para">Many people use Click & Collect because it lets you decide when to collect your stuff, so it’s usually more convenient than waiting in all day for a delivery.</p>

                            <p class="para">But you still have to take time out of your day to fetch it – negotiating traffic, finding and paying for a parking space, getting stung by the congestion charge. Even worse, you can end up struggling on a packed Tube with an awkwardly shaped parcel or heavy bags.</p>

                            <p class="para">Click & Collect is not as cost-effective as you might think. Did you know that picking your stuff up from a shop’s Click & Collect service, or collecting a failed delivery, costs you an average of £11.00 a trip? (Source: IMRG Valuing Home Delivery Review 2014)</p>

                            <p class="para">It’s so much easier to use a shop’s Click & Collect option and get onthedot.co.uk to deliver to you within a 1 hour timeslot that suits you.</p>

                        </accordion-group>
                        <accordion-group is-open="status.isFifthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFifthOpen, 'fa-chevron-circle-down': !status.isFifthOpen}"></i>What can I get delivered by On the dot?
                            </accordion-heading>
                            <p class="para">We deliver most things but there are some things that we can’t or won’t transport for you.</p>
                            <p class="para">These include:</p>
                            <ul class="dash">
                                <li>Antiques or high value art</li>
                                <li>Jewellery</li>
                                <li>Cash, vouchers or storecards</li>
                                <li>Firearms, inflammable items or other explosives</li>
                                <li>Live animals (or dead ones – unless you’re into taxidermy!)</li>
                                <li>Any obscene or indecent material</li>
                                <li>Anything illegal – including drugs</li>
                                <li>People – however much you want to see them</li>
                            </ul>
                            <p class="para">
                                All items are insured up to the value of £100 as standard but if you declare the value when booking, we can increase the insurance to £1000 at no extra charge. For more information, please see our <a ng-href="{{homeUrl}}/terms-and-conditions">terms &amp; conditions.</a>
                            </p>
                        </accordion-group>
                        <accordion-group is-open="status.issixthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.issixthOpen, 'fa-chevron-circle-down': !status.issixthOpen}"></i>How much does it cost?
                            </accordion-heading>
                            <p class="para">We charge just £6.95 – similar to the cost of standard next day delivery. You can save even more by choosing one of our bundles where a single delivery can be as a little as £4.50.  Read more about our bundles<a ng-href="{{homeUrl}}/what-it-costs"> here </a>
                            </p>

                        </accordion-group>
                        <accordion-group is-open="status.isseventeenthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isseventeenthOpen, 'fa-chevron-circle-down': !status.isseventeenthOpen}"></i>How do I pay for On the dot?
                            </accordion-heading>
                            <p class="para">Right now, you can pay by debit or credit card. Soon you will also be able to pay through PayPal.</p>
                        </accordion-group>
                        <accordion-group is-open="status.isseventhOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isseventhOpen, 'fa-chevron-circle-down': !status.isseventhOpen}"></i>Where does On the dot deliver?
                            </accordion-heading>

                            <p class="para">We are launching a London delivery service but will soon be available in other cities - for more info see <a ng-href="{{homeUrl}}/where-we-deliver">Where we deliver</a>. Be the first to know when we are coming to you and receive our special launch promotions by <a ng-href="{{homeUrl}}/get-in-touch">registering</a> with us.</p>

                        </accordion-group>
                        <accordion-group is-open="status.iseighthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.iseighthOpen, 'fa-chevron-circle-down': !status.iseighthOpen}"></i>When can you deliver?
                            </accordion-heading>
                            <p class="para">Our technology is so clever it knows the opening hours of our partner retailers and takes that into account when offering you timeslots. If you have added a retailer manually, we ask you to tell us the opening hours of the store for the day you have booked the delivery.</p>
                            <p class="para">
                                We don’t hold your items overnight so we collect and deliver in the same day, but you can choose when that day is.
                            </p>

                        </accordion-group>
                        <accordion-group is-open="status.isninethOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isninethOpen, 'fa-chevron-circle-down': !status.isninethOpen}"></i>What size of package can I have delivered?
                            </accordion-heading>
                            <p class="para">You can have multiple items collected for you, but in total they must not exceed:</p>

                            <p class="para">Maximum weight – 20 kg</p>

                            <p class="para">Maximum size – 1.2m x 1.0m x 1.0m</p>
                            <img src="images/size-weight-limits.jpg" class="img-responsive image">
                        </accordion-group>
                        <accordion-group is-open="status.istenthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.istenthOpen, 'fa-chevron-circle-down': !status.istenthOpen}"></i>How should I package my items?
                            </accordion-heading>
                            <p class="para">Your retailer should package your stuff for you for Click &amp; Collect purposes. If you are buying your shopping in-store or over the phone for us to collect, please ask your retailer to make sure that it is properly packaged as we cannot be held responsible for improperly packaged or poorly protected goods.</p>

                        </accordion-group>
                        <accordion-group is-open="status.iseleventhOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.iseleventhOpen, 'fa-chevron-circle-down': !status.iseleventhOpen}"></i>Can I change or cancel my delivery?
                            </accordion-heading>
                            <p class="para">You can cancel or change your delivery until your driver is on their way to pick up your stuff. Just sign into your account and let us know your new delivery details.</p>
                            <p class="para">If you need any help, please contact our friendly customer care team on <span class="tel">020 7880 1444</span> or email us at <a href="mailto:customercare@onthedot.co.uk" >customercare@onthedot.co.uk</a></p>

                        </accordion-group>
                        <accordion-group is-open="status.iseighteenthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.iseighteenthOpen, 'fa-chevron-circle-down': !status.iseighteenthOpen}"></i>Can I change my 1 hour delivery window?
                            </accordion-heading>
                            <p class="para">It is no problem if you need to change your 1 hour time slot for any reason. You can alter your booking right up until your driver sets out to collect your stuff.</p>

                        </accordion-group>
                        <accordion-group is-open="status.isnineteenthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isnineteenthOpen, 'fa-chevron-circle-down': !status.isnineteenthOpen}"></i>What do you need in order to collect my shopping?
                            </accordion-heading>
                            <p class="para">You can upload your receipts or confirmation emails from the retailer when you make your booking. That will provide us with all the information we need to collect on your behalf. You don’t have to do this, but it can make our pick up smoother, especially during busy periods.</p>

                        </accordion-group>
                        <accordion-group is-open="status.istwelfthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.istwelfthOpen, 'fa-chevron-circle-down': !status.istwelfthOpen}"></i>Is my delivery insured?
                            </accordion-heading>
                        
                            <p class="para">Yes, we insure all items up to the value of £100. If your shopping is worth more than that, please tell us the value when you book and we will insure it up to £1000 free of charge. For more information, please see our <a ng-href="{{homeUrl}}/terms-and-conditions">terms & conditions.</a></p>
                        </accordion-group>
                        <accordion-group is-open="status.isthirteenthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isthirteenthOpen, 'fa-chevron-circle-down': !status.isthirteenthOpen}"></i>What happens if I'm not in when the courier arrives?
                            </accordion-heading>
                            <p class="para">We hope that our flexible delivery schedule, which works around you, means that this won’t happen. But we know life isn’t always simple.</p>
                            <p class="para">If you realise that your timeslot isn’t convenient any more, you can change your booking right up until the point where your driver sets off to collect it. To do this, just log in to your account, go to the My deliveries page, find your booking and click amend.</p>
                            <p class="para">If we have already sent the driver, unfortunately you can’t change the timeslot online. But you can ring our customer care team on  <span class = "tel">020 7880 1444</span> to tell us if we can leave your delivery with a neighbour or somewhere safe. We want to make sure you get your stuff when you need it and will do everything we can to help you out if this happens.</p>
                        </accordion-group>
                        <accordion-group is-open="status.isfourteenthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isfourteenthOpen, 'fa-chevron-circle-down': !status.isfourteenthOpen}"></i>What happens if my delivery is late?
                            </accordion-heading>
                            <p class="para">We are so confident that we can deliver within the 1 hour timeslot you have chosen, that if we are more than 10 minutes late, you get your next delivery free. The only exception is if something happens that is out of our control, for example, if the retailer won’t hand over your stuff when we get to their shop.</p>


                        </accordion-group>
                        <accordion-group is-open="status.isfifteenthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.isfifteenthOpen, 'fa-chevron-circle-down': !status.isfifteenthOpen}"></i>Can I return my stuff to the retailer using On the dot?
                            </accordion-heading>
                            <p class="para">This is something that we can’t offer at the moment – but we are working on it. For now, just return your items to your retailer as you would normally.</p>


                        </accordion-group>
                        <accordion-group is-open="status.issixteenthOpen">
                            <accordion-heading>
                                <i class="fa" ng-class="{'fa-chevron-circle-up': status.issixteenthOpen, 'fa-chevron-circle-down': !status.issixteenthOpen}"></i>How can I track my delivery?
                            </accordion-heading>
                            <p class="para">You can track your driver on a map right to your front door. We will also send you email notifications each step of the way so you know just where your stuff is.</p>


                        </accordion-group>

                    </accordion>
                </div>

                <div class="col-lg-4 hero-content">
                    <h2 class="page-sub-title"><a ng-href="{{retailerHomeUrl}}">Are you a retailer?</a></h2>
                    <p class="para"><strong>We have a whole load of FAQs for retailers too. <a ng-href="{{retailerHomeUrl}}/faqs" class="">Find out more</a></strong></p>
                    <p class="para head"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}">Shopper homepage</a></li> 
                        <li><a ng-href="{{retailerHomeUrl}}">Retailer homepage</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>    
</div>