<div class="container inner-page form-page" apply-bg>
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-main-title">
                Forgot your password?
            </h1>
            <div class="row">
                <div class="col-md-6">
                    <div ng-if="sendSuccess">
                        <div class="alert alert-info">
                            Great! Your request has been sent
                        </div>
                    </div>
                    <div ng-if="sendfailure">
                        <div class="alert alert-danger alert-error">
                            Oops! It looks like there was a problem with this email address. Please try again…
                        </div>
                    </div>
                    <div ng-if="socialUser">
                        <div class="alert alert-danger alert-error">
                            Oops! Provided email address is registered under social login account. Please try using your social login option in the Login page to access the application.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <form  role="form" name="forgotPassword" novalidate ng-submit="forgotpassword(forgotPassword.$valid,'/')">
                        <p class="mar-top-m-10">
                            Please enter your email address and we will send you a link to change your password
                        </p>

                        <!--<div class="form-group"  ng-class="{'has-error': ( forgotPassword.emailAddress.$dirty && forgotPassword.emailAddress.$invalid ) || ( forgotPassword.$submitted && forgotPassword.emailAddress.$invalid ) || ( forgotPassword.emailAddress.$touched  && forgotPassword.emailAddress.$invalid ) }">-->
                        <div class="form-group"  ng-class="{'has-error': (forgotPassword.emailAddress.$invalid && forgotPassword.$submitted) ||  (forgotPassword.emailAddress.$invalid && forgotPassword.emailAddress.$touched) }">
                            <input type="text" class="form-control" id="name" name="emailAddress" placeholder="Email address"  ng-model="mydelivery.emailaddress" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"  ng-maxlength="80" required/>
                            <div ng-if="(forgotPassword.emailAddress.$touched || forgotPassword.$submitted)" ng-messages="forgotPassword.emailAddress.$error" ng-messages-include='views/error-messages.html'>
                                <div ng-message="pattern" class="error-msg">Oops! It appears you have entered an invalid email address. Please try again…</div>
                                <div ng-message="maxlength" class="error-msg">Email Address should be maximum of 80 characters length.</div>
                                <div ng-message="required" class="error-msg">Oops! Please enter a valid email address</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default btn-primary">Submit</button>
                        <button type="button" class="btn btn-default" ng-click="goHome()">Go back</button>
                        <!--<a ng-href="{{envHost+'/samllogin?return=home'}}" class=""><button type="submit" class="btn btn-default ">Go back</button></a>-->
                        <!--<a ng-href="{{envHost+'/samllogin?return=home'}}" class=""><i class="fa fa-chevron-circle-left"></i> Go back</a>-->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
