
<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">What it costs</h1>
            <div class="row">
                <div class="col-lg-8">
                    <div class="para-heading">
                        <h3>On the dot is here to make things better so we don’t believe in charging the earth.</h3>
                    </div>
                    <p class="para">That’s why our prices rival next day delivery but with the added convenience of a 1 hour delivery window that you get to choose.</p>
                    <img src="images/singe_delivery.png" class="img-responsive image" alt="Single delivery" title="Single delivery">

                    <h2 class="page-title">Bundles</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p class="para">Buy one of our bundles and a single delivery costs as little as £4.50.</p>
                            <p class="para">Choose your perfect bundle…</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="ng-scope">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-lg-6 para-heading">
                                        <h3>Small bundle</h3>
                                        <img src="images/small_bundle.png" alt="Small bundle" title="Small bundle" class="img-responsive image">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-lg-12">
                                        <p class="para ng-binding">Just £5.00 for a single delivery</p>
                                        <!--<p class="sub">(The cost of 5 single deliveries is £ 34.75)</p>-->
                                    </div>
                                </div>                                
                            </div> 
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="ng-scope">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-lg-6 para-heading">
                                        <h3>Big bundle</h3>
                                        <img src="images/big_bundle.png" alt="Big bundle" title="Big bundle" class="img-responsive image">
                                    </div>
                                    <br>
                                    <div class="col-xs-6 col-sm-6 col-lg-6 text-right">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-lg-12">
                                        <p class="para ng-binding">Just £4.50 for a single delivery</p>
                                        <!--<p class="sub">(The cost of 5 single deliveries is £ 34.75)</p>-->
                                    </div>
                                </div>                                
                            </div> 
                        </div>                        
                    </div>
                    <br>
                    <p class="para">With all our bundles remember that you need to use them within 6 months or they expire.</p>

                </div>
                <div class="col-lg-4 hero-content">
                    <p class="para head nomargin-top"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}/how-it-works">How it works</a></li>
                        <li><a ng-href="{{homeUrl}}/where-we-deliver">Where we deliver</a></li>
                        <li><a ng-href="{{retailerHomeUrl}}">Are you a retailer?</a></li>
                        <li><a ng-href="{{homeUrl}}/faqs">FAQs</a></li>
                        <li><a ng-href="{{homeUrl}}/get-in-touch">Get in touch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>   
</div>
<div class="container padding-0">
    <div class="row mar-top-40">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="images/what_it_costs_block_image.jpg" class="img-responsive image">
        </div>    
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
            <a ng-href="{{homeUrl}}/register">
                <div class="footerhowmuchitcost">
                </div>
            </a>
        </div>
    </div>
</div>