
<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">portal</h1>
            <div class="row">
                <div class="col-lg-8">
                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ante justo, ornare eget mi non, viverra lacinia turpis. Sed at erat ut leo mollis tempus. Morbi faucibus augue sed metus consequat, in tincidunt leo suscipit. Pellentesque imperdiet sollicitudin congue. Cras vel suscipit libero. Nulla tincidunt enim sit amet dui commodo tristique. Phasellus diam lorem, sodales ut finibus a, molestie in tortor.</p>   
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="page-sub-title">Lorem ipsum dolor sit amet,</h5>
                            <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ante justo, ornare eget mi non, viverra lacinia turpis. Sed at erat ut leo mollis tempus. Morbi faucibus augue sed metus consequat, in tincidunt leo suscipit. Pellentesque imperdiet sollicitudin congue. Cras vel suscipit libero. Nulla tincidunt enim sit amet dui commodo tristique. Phasellus diam lorem, sodales ut finibus a, molestie in tortor.</p> 
                            <h5 class="page-sub-title">Bullet point list</h5>
                            <ul class="dash">
                                <li>Sit amet, conscterur adipiscing elit</li>
                                <li>Mollis ac felis sed in rhoncus est felis</li>
                                <li>Blandit vel sed tellus emtus</li>
                            </ul>  
                        </div>
                        <div class="col-lg-6">
                            <h5 class="page-sub-title">Lorem ipsum dolor sit amet,</h5>
                            <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ante justo, ornare eget mi non, viverra lacinia turpis. Sed at erat ut leo mollis tempus. Morbi faucibus augue sed metus consequat, in tincidunt leo suscipit.</p>   
                        </div>
                    </div>                 
                </div>
                <div class="col-lg-4 hero-content">
                    <h2 class="page-sub-title">Lorem ipsum dolor sit amet, ipsum?</h2>
                    <p class="para"><strong>Enhance customer satisfaction and brand loyality delivers a competitive edge increases online conversation and average basket value eros.</strong></p>
                </div>
            </div>
        </div>
    </div>    
</div>