
<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">Data Protection Policy</h1>
            <div class="row">
                <div class="col-lg-8">                    
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="page-sub-title">Privacy policy for On the dot, part of CitySprint (UK) Limited</h5>
                            <p class="para">In this privacy policy (the "Policy") we explain how we use the personal data we collect from you. By submitting your personal information to us on our Website you consent to the terms and conditions of this Policy. If you do not consent to the terms and conditions of this Policy, you should not submit your personal information to us. The Policy applies only to this On the dot website (the "Website") and does not apply to the companies, organisations, individuals or other websites that may be linked to our Website.</p> 
                            <h5 class="page-sub-title">1. PERSONAL INFORMATION WE COLLECT AND HOW WE USE IT</h5>
                            <p class="para">1.1&nbsp;&nbsp;When you register for our services, place orders or log on as an account holder on our Website we will collect some or all of the following information from you: your company or trading name (if any), your name or a contact name, address, telephone numbers, fax numbers, email address, bank details including account number and/or corporate purchasing card, credit or debit card numbers. Bank account and credit or debit card details are collected for the purposes of billing you for the CitySprint services you order from time to time.</p>
                            <p class="para">1.2&nbsp;&nbsp;We may also collect information about your use of our Website. We will do this by using cookies. For our policy on cookies please see paragraph 3 below.</p>
                            <p class="para">1.3&nbsp;&nbsp;We may collect information from visitors to our Website and users of CitySprint services in an aggregate and anonymous form to analyse our business and provide aggregate statistics about the CitySprint services, sales, customers, traffic patterns and other site information. The information will not contain or be linked to any personal information. We will use this information to measure the use of our Website and services to improve the content of our Website.</p>
                            <h5 class="page-sub-title">2. WHAT HAPPENS TO YOUR PERSONAL INFORMATION</h5>
                            <p class="para">2.1&nbsp;&nbsp;CitySprint does not sell, rent or transmit personal information to other companies except as set out in this Policy. By submitting personal information to us on our Website you consent to receive information about CitySprint services or the services of our group companies from time to time. You may opt-out of such communications by sending an email to newaccounts@citysprint.co.uk by following the unsubscribe instructions set out within each email sent to you about CitySprint’s services or by ticking the "I do not wish to receive information about CitySprint services" on the Open Account application form contained on our Website.</p>
                            <p class="para">2.2&nbsp;&nbsp;CitySprint may disclose your personal information to other companies within the CitySprint group of companies. CitySprint may also disclose your personal information to third parties that are engaged by us to perform services to us or on our behalf. Third parties may only use the data for the purpose for which it was provided. We may also allow third parties to use information we hold about you as part of the process of selling one or more of our businesses or if we have been asked to provide information for legal purposes.</p>
                            <p class="para">2.3&nbsp;&nbsp;From time to time these other companies or third parties may be outside the European Economic Area in countries that do not have the same standards of protection for personal data as the UK. By submitting personal information to us, you consent to such transfer.</p>
                            <h5 class="page-sub-title">3. COOKIES</h5>
                            <p class="para">3.1&nbsp;&nbsp;Cookies are small text files which identify your computer to our server. They are placed on your computer for the purpose of facilitating and enhancing your communication and interaction with our Website. They do not identify you as the individual user only the computer being used.</p>
                            <p class="para">3.2&nbsp;&nbsp;You may stop or restrict the placement of cookies on your computer or flush them from your browser by adjusting your web browser preferences. You may still use our Website if you do this but it may interfere with the functionality of our Website. We do not use cookies to retrieve information from your computer for purposes that are unrelated to our Website or your interaction with our Website.</p>
                            <h5 class="page-sub-title">4. LINKS TO OTHER WEBSITES</h5>
                            <p class="para">4.1&nbsp;&nbsp;Our Website may contain links to sites that are unrelated to CitySprint. This Policy is not applicable to any of these sites and CitySprint is not responsible for the content, activities or practices of any of those third party sites.</p>
                            <h5 class="page-sub-title">5. CHANGES TO THE POLICY</h5>
                            <p class="para">CitySprint reserves the right, at its discretion, to change, modify, add or remove any part or parts of the Policy from time to time. Should CitySprint change this policy, the changes will be posted here. By continuing to use our Website following the positing of any changes to the Policy you accept such changes.</p>
                            <h5 class="page-sub-title">6. SECURITY</h5>
                            <p class="para">The security of your personal information is important to us. We attempt to ensure that the transmission of your information to our server is protected by the use of encryption software. We have also put in place appropriate technical and organisational measures to prevent unauthorised access to or unauthorised or unlawful processing of your personal information. However, due to the inherent open nature of the internet, CitySprint cannot guarantee that communications between you and us will be free from unauthorised access by third parties such as hackers. Your use of our Website demonstrates your acceptance of this risk.</p>
                            <h5 class="page-sub-title">7. YOUR RIGHTS</h5>
                            <p class="para">7.1&nbsp;&nbsp;If you have any concerns regarding the collection, use and/or retention of your personal information by CitySprint, <strong>please contact us at the address below:</strong></p>
                            <p class="para">
                                CitySprint (UK) Limited<br>
                                Ground Floor RedCentral<br>
                                60 High Street<br>
                                Redhill<br>
                                Surrey<br>
                                RH1 1SH<br>
                                <strong>Tel:</strong> 020 8636 1200<br>
                                <strong>Fax:</strong> 0870 873 2237<br>
                                <strong>Email: </strong><a href="mailto:newaccounts@citysprint.co.uk" >newaccounts@citysprint.co.uk</a>
                            </p> 
                            <p class="para">7.2&nbsp;&nbsp;You may also inform CitySprint at any time that you do not want to receive information from CitySprint by sending an email to the above address.</p>
                        </div>                        
                    </div>                 
                </div>
                <div class="col-lg-4 hero-content">
                    <h2 class="page-sub-title">Want to see our full terms &amp; conditions?</h2>
                    <p class="para"><strong>You can read all of <a ng-href="{{homeUrl}}/terms-and-conditions">terms &amp; conditions</a> in detail here or check out our <a ng-href="{{homeUrl}}/cookies">cookie</a> policy here</strong></p>

                    <p class="para head nomargin-top"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}">Shopper homepage</a></li>
                        <li><a ng-href="{{retailerHomeUrl}}">Retailer homepage</a></li>
                        <li><a ng-href="{{homeUrl}}/get-in-touch">Get in touch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>