<div class="container inner-page min-height">
  <h1>Please do not refresh. We are redirecting you to payment page</h1>
  <form method="POST" id="paymentForm">
     <input  type="hidden" name="MERCHANT_ID" value="{{merchantId}}"> 
     <input  type="hidden" name="ORDER_ID" value="{{orderId}}">  
     <input  type="hidden" name="ACCOUNT" value="{{subaccount}}"> 
     <input  type="hidden" name="AMOUNT" value="{{amount}}"> 
     <input  type="hidden" name="CURRENCY" value="{{currency}}"> 
     <input  type="hidden" name="TIMESTAMP" value="{{timestamp}}"> 
     <input  type="hidden" name="SHA1HASH" value="{{sha1hash}}"> 
     <input  type="hidden" name="AUTO_SETTLE_FLAG" value="1"> 
     <input  type="hidden" name="MERCHANT_RESPONSE_URL" value="{{MERCHANT_RESPONSE_URL}}"> 
     <input  type="hidden" name="COMMENT1" value="{{COMMENT1}}"> 
     <input  type="hidden" name="COMMENT2" value="{{COMMENT2}}">
     <input  type="hidden" name="WORKFLOW" value="{{WORKFLOW}}"> 
     <input  type="hidden" name="PROD_ID" value="{{PROD_ID}}">
     <input  type="hidden" name="USER" value="{{USER}}">
     <input  type="hidden" name="UUID" value="{{UUID}}"> 
     <input  type="hidden" name="BOOKINGTYPE" value="{{BOOKINGTYPE}}">
     <input  type="hidden" name="SUCCESSURL" value="{{SUCCESSURL}}">
     <input  type="hidden" name="FAILUREURL" value="{{FAILUREURL}}">
     <input  type="hidden" name="FAILUREURL" value="{{FAILUREURL}}">
     <input  type="hidden" name="DISPLAYNAME" value="{{displayname}}">
</div>
