
<div class="container aboutus padding-rl-30">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-main-title">terms and conditions</h1>
            <div class="row">
                <div class="col-lg-8">
                    <h5 class="page-sub-title">1. INTRODUCTION</h5>
                    <p class="para">
                        1.1 These terms apply to our provision of the On the dot service to enable you to book Deliveries on the Website for delivery within a 1 Hour Slot.
                    </p>
                    <p class="para">
                        1.2 These terms are split into 2 sections:
                    </p>
                    <p class="para">
                        Part 1 – Key Definitions;
                    </p>
                    <p class="para">
                        Part 2 - Service Terms
                    </p>
                    <p class="para">
                        together, the "Ts&amp;Cs".
                    </p>
                    <p class="para">
                        1.3 Please ensure that you read these Ts&amp;Cs carefully. <strong>In particular, please bear in mind that the Delivery Bundles expire after 6 months from date of purchase, there are restrictions on the type of Item which we can be delivered via the On the dot service and restrictions on the postcodes where collections and deliveries can be made to and from and we have sought to limit our liability depending on the Item value.</strong>
                    </p>
                    <p class="para">
                        1.4 If you are uncertain as to your rights under these Ts&amp;Cs or you want any explanation about them, please write to us at CitySprint, Ground Floor, RedCentral, 60 High St, Redhill, Surrey, RH1 1SH or <a href="mailto:customercare@onthedot.co.uk">customercare@onthedot.co.uk.</a>  or telephone us at <span class="tel">020 7880 1444</span>. We may change the version of the Ts&amp;Cs published on the Website from time to time but the changes will only apply to Delivery Bundles purchased after the date on which the changes are published. The changes will not apply to any Delivery Bundles that you have already purchased.
                    </p>
                    <h5 class="page-sub-title">PART 1 – KEY DEFINITIONS</h5>
                    <div class="table-responsive tc-tbl">
                        <table class="table table-bordered">
                            <!--<thead>-->
                            <!--<tr>-->
                            <!--<th width="20%">Used By</th>-->
                            <!--<th width="20%">Name</th>-->
                            <!--<th width="25%">Expiry Date</th>-->
                            <!--<th width="30%">Displays relevant cookie information for the website.</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <tbody>
                                <tr>
                                    <td width="20%"><strong>1 Hour Slot</strong></td>
                                    <td width="80%">a 1 hour delivery slot selected by you from those listed as available on the Website.</td>
                                </tr>

                                <tr>
                                    <td><strong>Account</strong></td>
                                    <td>an account unique to you containing the information specified in Condition 1 of Part 2, available Deliveries and Booking history</td>

                                </tr>
                                <tr>
                                    <td><strong>Booking</strong></td>
                                    <td>a booking for the delivery of an Item placed by you with us via the Website. </td>
                                </tr>
                                <tr>
                                    <td><strong>Delivery</strong></td>
                                    <td>A single Booking made within 6 months of the date of purchase of the Delivery Bundle for the delivery within a 1 Hour Slot of an Item from a retailer to a residential address (e.g. your house) within a five mile radius of the collection location and, where the collection location and delivery location are within one of the following Central London postcodes: EC, N1, N19, N5, N7, NW1, NW3, NW5, NW6, NW8, SW1, SW10, SW3, SW5, SW7, W1, W10, W11, W12, W14, W2, W6, W8, W9, WC.</td>
                                </tr>
                                <tr>
                                    <td><strong>Delivery Bundle</strong></td>
                                    <td>has the meaning in Part 2.</td>
                                </tr>
                                <tr>
                                    <td><strong>Excluded Items</strong></td>
                                    <td>
                                        <p>(a) firearms, munitions, inflammable items or other explosives, livestock or other animals, human remains, any obscene, defamatory, blasphemous, scandalous or other indecent material, any item (including, without limitation, drugs or other illegal substances) which is prohibited or illegal to possess or import into any country through or into which the carriage of the Item is to take place; and </p>
                                        <p>(b) precious stones, precious metals, watches, jewellery, glass, furs, china, art, antiques, prescription drugs, fragile and perishable goods, money, vouchers, travellers cheques, bearer bonds, bills of exchange, promissory notes, stamps, photographs, documents of title to property, bank, credit, pre-pay or other store cards with a cash equivalent value, spirits, tobacco and cigarettes and any other goods which we may in our reasonable discretion deem to be valuable; and</p>
                                        <p>(c) dangerous goods as defined in the Carriage of Dangerous Items by Road Regulations 1996 (as amended); and</p>
                                        <p>(d) any other item for which we would not reasonably be expected to have appropriate storage facilities, equipment or licences to enable us to deliver the Item.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Item</strong></td>
                                    <td>
                                        goods or property, whether or not contained in separate parcels, packages, containers or envelopes including any paper and documents, to be delivered by us for you.
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Unforeseen Event</strong></td>
                                    <td>
                                        any act or event beyond our reasonable control, including without limitation, strikes, lock-outs or other industrial action by third parties, civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for war, fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster or failure of public or private telecommunications networks, inclement weather, road accidents, malicious damage, insufficient or improper packing, labelling or addressing, major unexpected traffic, major unexpected road works, widespread Internet or power failure, the Item is not available for collection or delivery, the recipient or retailer is not available or does not permit us to deliver or collect the Item for any reason, the Booking contains incorrect or incomplete information or the Item does not comply with the Item Restrictions
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>we/our/us</strong></td>
                                    <td>
                                        CitySprint (UK) Limited trading as On the dot.<br />
                                        (a) Our registered office is Ground Floor, RedCentral, 60 High St, Redhill, Surrey, RH1 1SH, our telephone number is <span class="tel">020 7880 1444</span>, our VAT number is <span class="tel">997 3273 64</span> and our email address is
                                        <a href="mailto:customercare@onthedot.co.uk">customercare@onthedot.co.uk.</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Website</strong></td>
                                    <td>
                                        an online tool owned or operated by us and accessible at the following weblink: www.onthedot.co.uk
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>you/your</strong></td>
                                    <td>
                                        any individual acting in a private, non-commercial capacity who uses the Website.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h5 class="page-sub-title">PART 2 - SERVICE TERMS</h5>
                    <h5 class="page-sub-title">1. OPENING AN ACCOUNT</h5>
                    <p class="para">
                        1.1 From time to time, delivery bundles may be offered for purchase on the Website as follows:
                    </p>
                    <p class="para">
                        (a) a one-off purchase of 1 Delivery (“Single Delivery”); <br/>
                        (b) a bulk purchase of 5 Deliveries (“Small Bundle”); and <br/>
                        (c) a bulk purchase of 8 Deliveries (“Big Bundle”),
                    </p>
                    <p class="para">each a <strong>“Delivery Bundle”. </strong></p>
                    <p class="para">
                        1.2 You will need to open an Account to purchase Delivery Bundles.
                    </p>
                    <p class="para">
                        1.3 To be eligible for an Account, you must be 18 years old or over and resident in the UK. You will need to provide your title, full name, email address, mobile telephone number, and a password.
                    </p>
                    <p class="para">
                        1.4 You:
                    </p>

                    <p class="para"> (a) must ensure that the personal details that you provide when you open the Account are accurate, current and complete in all respects. Please let us know if there are any updates to your personal details by updating your Account on the Website or by contacting us at <a href="mailto:customercare@onthedot.co.uk">customercare@onthedot.co.uk</a> ;
                    </p>
                    <p class="para"> (b) are responsible for maintaining the confidentiality of your Account details, including your validation code and password, and you must not under any circumstances share them with any other person; and
                    </p>
                    <p class="para"> (c) are responsible for all activity and use of the Website under your Account.
                    </p>

                    <p class="para">1.5 You agree that we may collect, store, use and transfer any information you provide in accordance with our Privacy Policy, which is incorporated into these Ts&amp;Cs and available
                        <a ng-href="{{homeUrl}}/privacy-policy">here</a>.
                    <p class="para">1.6  We will send you a validation code to the mobile number provided on opening of the Account. You must enter the validation code on the Website to activate your Account.</p>
                    <h5 class="page-sub-title">2. PURCHASING BUNDLES</h5>
                    <p class="para">2.1 If you wish to order a Delivery Bundle, you can either:</p>
                    <p class="para">
                        (a) enter a delivery postcode on the homepage of the Website, select one of the listed retailers and stores for collection (or enter your own retailer and store together with the store opening time), select a Delivery Bundle, date for collection and 1 Hour Slot at which point you will prompted to create or log in to your Account;<br/>
                        (b) log in to your Account (if not already logged in) directly from the homepage using your email address and password, or via Facebook or Google and follow the steps in 2.1(a) above; and
                    </p>
                    <p class="para">and in each case, you must agree to these Ts&amp;Cs by clicking your acceptance of them. </p>
                    <p class="para">2.2 You will be given the opportunity to review and correct any errors in your order prior to placing it.</p>
                    <p class="para">2.3 You will be obliged to pay the price of the Delivery Bundle to us by credit or debit card at the time of placing your order. The price of each Delivery Bundle will be shown in the Website at the time of placing your order. The price of the Delivery Bundles that offer multiple Deliveries is a discounted price due to a volume purchase.</p>
                    <p class="para">2.4 We will acknowledge receipt of your order by email without undue delay but in any case, within 24 hours of receipt. This does not mean that your order for a Delivery Bundle has been accepted by us. </p>
                    <p class="para">2.5 If your order is accepted, we will confirm our acceptance of your order by sending you a further email, at which point a legally binding contract between us for the purchase of the Delivery Bundle is automatically created, the price will be charged to your credit or debit card (as applicable) and the Delivery Bundle will be noted in your Account. </p>
                    <h5 class="page-sub-title">3. BOOKING DELIVERIES</h5>
                    <p class="para">3.1 You may book a Delivery from your Delivery Bundle within 6 months of the date of purchase of the Delivery Bundle.</p>
                    <p class="para">3.2 Each Delivery Bundle purchased by you will expire within 6 months of the date of purchase, unless we expressly agree otherwise with you in writing. No further Deliveries may be booked with expired Delivery Bundles.</p>
                    <p class="para">3.3 If you wish to book a Delivery, you shall:</p>
                    <p class="para">
                        (a) submit a Booking on the Website specifying:
                    </p>
                    <p class="para"> (i)    a short description of the Item to be collected; <br/>
                        (ii) your name as shown on the payment card; <br/>
                        (iii) the retailer reference or order number; <br/>
                        (iv) the value of the Item in pounds sterling; <br/>
                        (v) (if not already provided) full collection location address and opening hours; <br/>
                        (vi) (if not already provided) date for delivery and a preferred 1 Hour Slot (chosen from the available slots listed on the Website at the time of your Booking).<br/>
                        (vii) full delivery location address and a name of a contact person at the delivery location and their telephone number; <br/>
                        (viii) any other collection instructions or delivery instructions;<br/>
                        (ix) any promotional code; <br/></p>
                    <p class="para">(b) ensure that the retailer is aware that we will be collecting the delivery on your behalf and will release the Item to us; and</p>
                    <p class="para">(c) if the recipient is not you, ensure that the recipient is aware that a delivery will be made and that the recipient will accept the Item.</p>
                    <p class="para">3.4 We are not permitted by law to make any Delivery for you during the 14 Day Cancellation Period unless you expressly request us to do so. By submitting a Booking to the Website for a delivery date during the 14 Day Cancellation Period, we will consider that this is an express request from you to do so and you will be required to acknowledge this at the time of Booking and also acknowledge that you lose your right to cancel if the service is fully performed (i.e. once all of the Deliveries in your Delivery Bundle have been used).</p>
                    <h5 class="page-sub-title">4. CANCELLING DELIVERY BUNDLES</h5>
                    <p class="para">4.1 You have a right to cancel your Delivery Bundle within 14 days without giving any reason. The cancellation period will expire after 14 days from the day on which we issue our order acceptance to you (“14 Day Cancellation Period”). To meet the cancellation deadline it is sufficient for you to send your cancellation notice before the 14 Day Cancellation Period has expired.</p>
                    <p class="para">4.2 To exercise the right to cancel you must inform us of your decision to cancel by a clear statement (e.g. a letter sent by post or an email). You may use the following model cancellation form but it is not obligatory:</p>
                    <div class="cancel-bundle-grid">
                        <p class="para"><strong>(Complete and return this form only if you wish to withdraw from the contract)</strong></p>
                        <p class="para"><strong>To [TRADER'S NAME, ADDRESS, TELEPHONE NUMBER AND, WHERE AVAILABLE,<br/> FAX NUMBER AND E-MAIL ADDRESS TO BE INSERTED BY THE TRADER]:</strong></p>
                        <p class="para"><strong>I/We [*] hereby give notice that I/We [*] cancel my/our [*] contract of sale of the following goods [*]/for the supply of the following service [*],</strong></p>
                        <p class="para"><strong>Ordered on [*]/received on [*],</strong></p>
                        <p class="para"><strong>Name of consumer(s),</strong></p>
                        <p class="para"><strong>Address of consumer(s),</strong></p>
                        <p class="para"><strong>Signature of consumer(s) (only if this form is notified on paper),</strong></p>
                        <p class="para"><strong>Date</strong></p>
                        <p class="para"><strong>[*] Delete as appropriate</strong></p>
                    </div>
                    <p class="para">4.3 If you cancel your Delivery Bundle within the 14 Day Cancellation Period and you have not booked any Deliveries in the Delivery Bundle at such time, we will cancel the Delivery Bundle and, within 14 days after the day on which we receive your cancellation notice, refund to you the full price of the Delivery Bundle.</p>
                    <p class="para">4.4 If you cancel your Delivery Bundle within the 14 Day Cancellation Period and you have requested to begin the performance of services during the 14 Day Cancellation Period (i.e. booked one or more Deliveries in the cancelled Delivery Bundle), we will cancel the Delivery Bundle and, within 14 days after the day on which we receive your cancellation notice, refund to you a pro rata refund of the price based on the Deliveries performed up to the date when we received your cancellation notice and retain the balance of the price. We will calculate the pro rata refund based on the then-current price of a Single Delivery multiplied by the number of Deliveries performed from the cancelled Delivery Bundle.</p>
                    <p class="para">4.5 During the 14 Day Cancellation Period, you may only cancel the Delivery Bundle in its entirety. Upon cancellation all Deliveries in that Delivery Bundle will be deemed automatically cancelled.</p>
                    <p class="para">4.6 After the 14 Day Cancellation Period, you may:</p>
                    <p class="para">(a) cancel your entire Delivery Bundle if we have not complied with these Ts &amp; Cs or if we agree otherwise with you;
                        <br/>
                        (b) cancel individual Deliveries booked for any reason by 11.59pm on the day before the date on which such Delivery is due to take place and we will credit the Delivery back to your Delivery Bundle.

                    </p>
                    <p class="para">4.7 We may cancel your Delivery Bundle or an individual Delivery at any time by giving written notice to you if you do not materially comply with these Ts&amp;Cs. We will give you as much notice as possible if we decide to cancel.</p>
                    <h5 class="page-sub-title">5. LIMITATION OF LIABILITY</h5>
                    <p class="para">
                        <strong>
                            5.1 Except for our liability for personal injury or death arising from our negligence, fraud, where we have deliberately lied to you or any other liability which cannot be excluded or limited by law:
                        </strong>
                    </p>
                    <p class="para"><strong>(a) our total aggregate liability to you is as set out in the table below, with higher limits for Items that you have told us are of higher value on Booking.</strong></p>
                    <div class="table-responsive tc-tbl">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%">Value of Item</th>
                                    <th width="80%">Maximum Total Liability of us in respect of Item</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Less than &pound;100</td>
                                    <td>&pound; 100</td>
                                </tr>

                                <tr>
                                    <td>More than &pound;100 but less than &pound;1,000</td>
                                    <td>&pound;1,000</td>

                                </tr>
                                <tr>
                                    <td>Over &pound;1,000</td>
                                    <td>To be advised to you at the time of Booking</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <p class="para"><strong>(b) we shall not be responsible for your loss of income or revenue, loss of business, loss of profit or loss of anticipated savings, howsoever caused;</strong></p>
                    <p class="para"><strong>(c) we are only responsible for loss or damage you suffer that is a foreseeable result of our breach of these Ts&amp;Cs or our negligence, but we are not responsible for any loss or damage that is not foreseeable. Loss or damage is foreseeable if they were an obvious consequence of our breach or if they were contemplated by you and us at the time we accepted your order.</strong></p>
                    <p class="para">5.2  You shall indemnify (i.e. compensate) us for:</p>
                    <p class="para">(a) all loss suffered by us as a result of any breach by you of these Ts&Cs or fraud by you;</p>
                    <p class="para">(b) all loss suffered by us resulting from loss of or damage to property caused by any Excluded Items.</p>
                    <h5 class="page-sub-title">6. LATE OR NON DELIVERY (OUR FAULT)</h5>
                    <p class="para">6.1 If we are unable to deliver the Item in accordance with the Booking and this is not due to an Unforeseen Event, then we will notify you of this by email or phone and we will do our best to deliver the Item to you on the same day as the original delivery date. If re-delivery on the same day is not possible or practical, we will store the Item at no cost to you. In any case, you will receive a voucher code entitling you to book an extra Single Delivery free of charge. The voucher code must be used within 6 months of the date of the failed Delivery. This will be your only financial remedy for late or non-delivery due to our fault (except in the case of late or non-delivery due to loss of the Item). This does not affect any other rights or remedies which you may have for any other failure or any rights to cancel.</p>
                    <p class="para">6.2 If you think that we have lost or damaged an Item, you should provide to us written proof of the value of the Item damaged or lost. If the Item is damaged, we shall be entitled to inspect the damaged Item on request to check the damage.</p>
                    <h5 class="page-sub-title">7. LATE OR NON DELIVERY (NOT OUR FAULT)</h5>
                    <p class="para">7.1 You must ensure that:</p>
                    <p class="para">(a) the Item is not an Excluded Item. You accept that we may open and examine any Item that we reasonably consider to be a security or health and safety risk to us and to take, in our reasonable discretion, appropriate action thereafter.
                    </p>
                    <p class="para">  (b) the Item is available for collection, secure, properly packed and labelled and is fit and safe to be carried, stored and transported by road on the date of delivery. We will collect the Item on the same date as the date of delivery specified in the Booking, unless otherwise agreed with you;
                    </p>
                    <p class="para"> (c) the Item does not exceed 20kg; </p>
                    <p class="para">  (d) the Item is not larger than 1.2m x 1.0m x 1.0m</p>
                    </p>
                    <p class="para">(together the "Item Restrictions").</p>

                    <p class="para">7.2  We may refuse any Booking and we may not be able to deliver any Item which fails to comply with the above Item Restrictions.</p>
                    <p class="para">7.3  We will make every effort to deliver the Item in accordance with the Booking and within the 1 Hour Slot but we cannot be held responsible for any non-delivery or late delivery or other failure due to any Unforeseen Event.</p>

                    <p class="para">7.4  If we are unable to deliver the Item in accordance with the Booking and this is due to an Unforeseen Event, then we will notify you of this by email or phone and we will try to deliver the Item to you on the same day as the original delivery date and if there are no more Deliveries available in your Delivery Bundle, then you will be charged for a Single Delivery. If there are one or more Deliveries available in your Delivery Bundle then one of those Deliveries will be deducted to undertake the re-delivery. If re-delivery on the same day is not possible or practical, we will store the Item for up to 7 days from the date of our notice of late or non-delivery and:</p>
                    <p class="para">
                        (a) If you contact us to rearrange re-delivery to take place within such 7 day period, we will not charge you for the storage costs. If there are no more Deliveries available in your Delivery Bundle, then you will be charged for a Single Delivery. If there are one or more Deliveries available in your Delivery Bundle then one of those Deliveries will be deducted to undertake the re-delivery.
                    </p>
                    <p class="para">   (b)  If you fail to contact us to rearrange re-delivery to take place within such 7 day period, then title to the Item shall transfer to us and we may destroy or sell the Item as if we were the absolute owner. If we sell the Item to a third party, we shall use reasonable endeavours to obtain a reasonable price for the Item and shall apply the proceeds of sale to the payment of our proper expenses and charges suffered or incurred in relation to the Item. Any proceeds left over shall be paid to you. Where the proceeds of sale do not meet or exceed the total value of our expenses and charges, we shall charge you (and you shall pay) a sum equal to the shortfall.
                    </p>

                    <h5 class="page-sub-title">8. UNFORESEEN EVENTS</h5>
                    <p class="para">8.1  We will make every effort to comply with these Ts&amp;Cs but we will not be liable or responsible for any failure or delay due to your acts or omissions or the retailer or recipient’s acts or omissions or any failure to package and/or label the Item correctly or the natural deterioration or fragility of the Item (notwithstanding that it may be marked “Fragile”) or any Unforeseen Event.</p>
                    <p class="para">8.2  If an Unforeseen Event takes place that affects us:</p>
                    <p class="para">
                        (a) we will contact you as soon as reasonably possible; </p>
                    <p class="para"> (b) our contractual obligations will be suspended and the time for performance of our obligations will be extended for the duration of the Unforeseen Event; and
                    </p>
                    <p class="para"> (c) the Delivery and/or Delivery Bundle will be cancelled if the Unforeseen Event subsists for a period exceeding one (1) calendar month, unless otherwise agreed with you. If a Delivery Bundle that includes unused Deliveries is cancelled, then we will refund you a pro rata refund of the price based on the unused Deliveries up to the date of cancellation and retain the balance of the price.
                    </p>
                    <h5 class="page-sub-title">9. OTHER IMPORTANT CONDITIONS</h5>

                    <p class="para">9.1 These Ts&amp;Cs (and each Booking) are the entire agreement between you and us in relation to the On the dot service. We will not be responsible for any other statements to you unless we have deliberately lied to you.</p>
                    <p class="para">9.2 No changes to these Ts&amp;Cs will be valid unless we expressly agree them with you. </p>
                    <p class="para">9.3 You may not assign, sub-contract or otherwise transfer any of our rights or obligations under the Ts&amp;Cs to any third party without our prior written consent (which we will not unreasonably withheld). We may subcontract our obligations to any reputable third party. We may assign any of our rights or obligations under these Ts&amp;Cs, in whole or in part, to any existing or future entity associated with us or in the event of a merger, acquisition, divestiture, consolidation or corporate reorganisation.</p>
                    <p class="para">9.4 If any part of these Ts&amp;Cs is held by law to be unenforceable, that part should be deleted and the other Ts&amp;Cs will not be affected.</p>
                    <p class="para">9.5 A person who is not a party to a Contract between you and us has no rights under the Contracts (Rights of Third Parties) Act 1999 to rely upon or enforce any term of that Contract. </p>
                    <p class="para">9.6 These Ts&amp;Cs (and all non-contractual obligations) shall be governed by English law and subject to the exclusive jurisdiction of the courts of England and Wales. </p>


                </div>
                <div class="col-lg-4 hero-content">
                    <h2 class="page-sub-title">Want to know more about our privacy policy?</h2>
                    <p class="para"><strong>Read our full <a ng-href="{{homeUrl}}/privacy-policy">privacy policy</a> here or see more about our <a ng-href="{{homeUrl}}/cookies">cookies</a> here</strong></p>

                    <p class="para head nomargin-top"><strong>Related links</strong></p>
                    <ul class="dash">
                        <li><a ng-href="{{homeUrl}}">Shopper homepage</a></li>
                        <li><a ng-href="{{homeUrl}}/get-in-touch">Get in touch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>