<div class="container aboutus upload-doc padding-rl-30">
    <div class="row">
        <div class="col-lg-12 upload-document">
            <h1 class="page-main-title">How to save your email as a file which can be uploaded to your booking</h1>
            <accordion close-others="oneAtATime" class="" >
                <accordion-group class="" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <accordion-heading>
                       <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFirstOpen, 'fa-chevron-circle-down': !status.isFirstOpen}"></i>PC
                    </accordion-heading>
                    <ul class="dash dashfirst">
						<li>Open email</li>
						<li>Click File and then select Print</li>
						<li>Change printer to Microsoft XPS Document Writer and click print</li>
						<li>Chose file name and location</li>
						<li>Click Save</li>
						<li>Click Upload on onthedot.co.uk and attach the file</li>
					</ul>
                </accordion-group>
                <accordion-group is-open="status.isSecondOpen">
                    <accordion-heading>
                        <i class="fa" ng-class="{'fa-chevron-circle-up': status.isSecondOpen, 'fa-chevron-circle-down': !status.isSecondOpen}"></i>Mac
                    </accordion-heading>
                    <ul class="dash">
						<li>Open email</li>
						<li>Click File and select Print</li>
						<li>Select Save as PDF</li>						
						<li>Click Upload on onthedot.co.uk and attach the file</li>
					</ul>
                </accordion-group>
                <accordion-group is-open="status.isThirdOpen">
                    <accordion-heading>
                        <i class="fa" ng-class="{'fa-chevron-circle-up': status.isThirdOpen, 'fa-chevron-circle-down': !status.isThirdOpen}"></i>Blackberry
                    </accordion-heading>
                    <ul class="dash">
						<li>Open email on screen</li>
						<li>Take a screen capture by pressing the Volume Up key and Volume Down key at the same time. Screen captures are automatically saved in the Main pictures / Camera folder. You are only able to upload one file against each order, so please make sure you include all of the relevant information in a single screen capture</li>
						<li>Click Upload on onthedot.co.uk and attach the file</li>												
					</ul>
                </accordion-group>
                <accordion-group is-open="status.isFourthOpen">
                    <accordion-heading>
                        <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFourthOpen, 'fa-chevron-circle-down': !status.isFourthOpen}"></i>Android
                    </accordion-heading>
                    <ul class="dash">
						<li>Open email</li>
						<li>In Menu options, select Print</li>
						<li>Select Save as PDF. Android handsets vary so if you are unable to save your email as a PDF please take a screen capture</li>						
						<li>Click Upload on onthedot.co.uk and attach the file</li>
					</ul>

                </accordion-group>
				<accordion-group is-open="status.isFifthOpen">
                    <accordion-heading>
                        <i class="fa" ng-class="{'fa-chevron-circle-up': status.isFifthOpen, 'fa-chevron-circle-down': !status.isFifthOpen}"></i>IPhone / IPad IOS
                    </accordion-heading>
                    <ul class="dash">
						<li>Open email on screen</li>
						<li>Take a screen capture by simultaneously pressing the Home and power buttons. Screen captures are automatically saved in the Main photos / Camera roll folder. You are only able to upload one file against each order, so please make sure you include all of the relevant information in a single screen capture</li>
						<li>Click Upload on onthedot.co.uk and attach the file</li>												
					</ul>

                </accordion-group>				
            </accordion>
        </div>
    </div>    
</div>